@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Poppins;
    line-height: 1.42857;
    font-weight: 400;
    font-size: 15px;
    color: #333A44;
}
.form-contact .title {
    font-family: Poppins;
}

.wrapp-container{
    padding-bottom: 50px;
}
.footer-inner-pages .rights {
    margin: 10px 0 15px 0 !important;
}

.terms p{
    font-size: 14px;
    color: #8d8e99;
}
.privacy p{
    font-size: 14px;
    color: #000;
}
.policies-contacts{
    padding: 10% !important;
} 
.address {
    margin: 2% 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
}
.footer-inner-pages{
    position: initial !important;
}
.title-box {
    margin-top: 15px;
}

a.active {
    color: #FEBA12 !important;
}

.footer-wrap {
    padding-top: 0px !important;
}

.container-fluid,
.col-xs-12 {
    padding: 0px !important;
}

.navbar-default {
    border: none;
    color: #f5f5f5;
    background: #333A44;
}

.logo-footer {
    margin: 0 !important;
}

.logo-footer img {
    max-width: 100%;
    max-height: 100% !important;
}

.clr-main {
    color: #feba12;
}

body.apply-navbar {
    padding-top: 75px;
}

.navbar {
    margin-bottom: 0;
    height: 75px+1px;
    min-height: 75px+1px;
}

.navbar-brand {
    padding: 0px;
    /* firefox bug fix */
    height: 75px;
    min-height: 75px;
}

.navbar-brand>img {
    display: inline-block;
    max-height: 100%;
    max-width: 240px;
    /*padding: 10px 20px;  firefox bug fix */
    width: auto;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default {
    border: none;
    color: #f5f5f5;
    background: #333A44;
}

.navbar-default .navbar-brand {
    line-height: 71px;
    font-weight: bold;
    color: #f5f5f5;
}

.navbar-default .slogan {
    background: url("../images/shape-slogan.svg") no-repeat 50% 0;
    position: absolute;
    left: 1%;
    top: 100%;
    padding: 11px 40px;
    font-size: 21px;
    font-weight: bold;
    color: initial;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-default .slogan.init {
    visibility: hidden;
}

.navbar-default .slogan span {
    color: #333A44;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.navbar-default .slogan:not(.opened) span {
    -webkit-transition: all .1 ease-in;
    transition: all .1s ease-in;
    opacity: 0;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #feba12;
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:focus {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li:hover {
    background: none;
}

.navbar-default .navbar-nav>li.active a,
.navbar-default .navbar-nav>li.active a:hover,
.navbar-default .navbar-nav>li.active a:focus,
.navbar-default .navbar-nav>li.active a:active,
.navbar-default .navbar-nav>li:hover a,
.navbar-default .navbar-nav>li:hover a:hover,
.navbar-default .navbar-nav>li:hover a:focus,
.navbar-default .navbar-nav>li:hover a:active {
    background-color: transparent;
    color: #feba12;
}

.navbar-default .navbar-nav>li>a {
    padding: 0 15px;
    color: #f5f5f5;
    line-height: 75px;
    font-size: 14px;
    -webkit-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}

@media all and (max-width: 767px) {
    .navbar-default .navbar-nav>li>a {
        line-height: calc(75px - 10px);
    }
}

.navbar-default .navbar-nav>li.nav-accent>a {
    background: #feba12;
    color: initial;
}

.navbar-default .navbar-nav>li .btn-login,
.navbar-default .navbar-nav>li .btn-signup {
    margin: 15px 0 0 10px;
    padding: 12px 25px;
    border: 1px solid #feba12;
    border-radius: 4px;
    line-height: normal;
    text-transform: none;
}

.navbar-default .navbar-nav>li .btn-login:hover,
.navbar-default .navbar-nav>li .btn-login:active,
.navbar-default .navbar-nav>li .btn-login:focus,
.navbar-default .navbar-nav>li .btn-signup:hover,
.navbar-default .navbar-nav>li .btn-signup:active,
.navbar-default .navbar-nav>li .btn-signup:focus {
    outline: none;
}

.navbar-default .navbar-nav>li .btn-login {
    color: #feba12;
}

.navbar-default .navbar-nav .login-btn:hover .btn-login {
    color: #333A44 !important;
    background: #feba12 !important;
}

.navbar-default .navbar-nav>li .btn-signup {
    background: #feba12;
    color: initial;
}

.navbar-default .navbar-nav>li .btn-signup:hover,
.navbar-default .navbar-nav>li .btn-signup:active,
.navbar-default .navbar-nav>li .btn-signup:focus {
    background: #feba12;
    color: initial;
}

.navbar-toggle {
    margin-top: 17px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f5f5f5;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: #feba12;
}

@media (max-width: 1000px) {
.navbar-default .navbar-collapse .navbar-right {
    display: flex;
    max-width: 36%;
    margin-top: 0 !important;
    align-self: center;
    padding: 0;
    margin: 10px auto;
    text-align: center;
    flex-direction: column;
}
.navbar-right a {
    margin: 11px 0 0 0px !important;
}
.section-intro {
    height: auto !important;
}
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
        border: 0;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.form-control {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
    border-color: #feba12;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .form-group {
    position: relative;
}

form .form-control.wrong {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

form .form-control.wrong[type="checkbox"] {
    outline: outset 3px red;
}

form .form-control[readonly] {
    opacity: .8;
    background-color: #eee;
}

form [ng-message],
form .err {
    position: absolute;
    width: 100%;
}

form [ng-message],
form .err,
form .error-message {
    color: red;
    /*text-align: center;*/
    font-size: 12px;
}

form .error-message {
    font-size: 16px;
}

header {
    padding: 40px 0 30px;
    text-align: center;
}

header a img {
    max-width: 100%;
}

.logo-footer {
    display: inline-block;
    margin-right: 25px;
    /*    padding-right: 25px;
          border-right: 1px solid #4f4f4f;*/
    vertical-align: text-bottom;
}

.logo-footer img {
    max-height: 22px;
}

@media all and (max-width: 600px) {
    .logo-footer {
        display: block;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

.footer-wrap {
    color: #767676;
    background-color: #333A44;
    padding: 25px 0;
    border-top: none;
    width: 100%;
    text-align: center;
}

.footer-wrap .footer-links {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-wrap .footer-links>li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-wrap .footer-links>li>a {
    display: block;
    color: #767676;
    -webkit-transition: color 250ms ease-out;
    transition: color 250ms ease-out;
}

.footer-wrap .footer-links>li>a:hover,
.footer-wrap .footer-links>li>a:active,
.footer-wrap .footer-links>li>a:focus {
    text-decoration: none;
}

.col-page {
    padding: 0;
}

.table-page {
    width: 100%;
    height: calc(100vh - 75px);
    /* subtract also $headerHeight when menu is visible */
    table-layout: fixed;
}

.table-page td {
    vertical-align: middle;
}

.table-page td:first-child {
    background-image: url(../images/main-bg.jpg?r=2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

@media all and (max-width: 991px) {
    .table-page td {
        display: block;
        padding: 40px 15px;
    }
}

.section-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.section-subtitle {
    margin-bottom: 60px;
    font-size: 20px;
    color: #5f6c7e;
    text-align: center;
}

.box-1 .title,
.list-features .title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
}

.box-1 p,
.list-features p {
    margin-bottom: 0;
    color: #5f6c7e;
    font-size: 18px;
}

.box-1 {
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    padding: 35px 35px 35px 112px;
    border-radius: 12px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.box-1 .icon {
    position: absolute;
    left: 23px;
    top: 23px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.box-1 .icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.box-1 .icon.orange {
    background-color: #f78341;
    background-image: linear-gradient(-45deg, #f78341, #f9d643);
}

.box-1 .icon.green {
    background-color: #1abc9c;
    background-image: linear-gradient(-45deg, #1abc9c, #5ae261);
}

.box-1 .icon.blue {
    background-color: #1fd6d0;
    background-image: linear-gradient(-45deg, #1fd6d0, #59c9ff);
}

.box-1 .icon.purple {
    background-color: #675aed;
    background-image: linear-gradient(-45deg, #675aed, #59c9ff);
}

@media all and (max-width: 600px) {
    .box-1 {
        padding: 20px;
    }

    .box-1 .title {
        text-align: center;
    }

    .box-1 .icon {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        vertical-align: middle;
        display: block;
        margin: 0 auto 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.33em 0;
    line-height: 1.42857;
    font-weight: 400;
    color: #000;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

p {
    margin: 1em 0;
    font-size: 14px;
    font-weight: 300;
}

.bg-video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}

.bg-video video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bg-video .cover {
    opacity: .9;
    min-width: 100%;
    min-height: 100%;
}

.display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.section-intro {
    position: relative;
    height: 1000px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

@media all and (max-width: 767px) {
    .section-intro {
        height: 500;
    }
}

@media all and (max-width: 500px) {
    .section-intro {
        height: 480;
    }
}

.section-intro .section-intro-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.section-intro .section-intro-inner>.container {
    padding-bottom: 13%;
}

.section-intro h1 {
    margin: 0 0 35px;
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
}

.section-intro h1 .accent {
    font-size: 72px;
    font-weight: 600;
}

.section-intro .bg-video:after {
    content: '';
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 769px) {
    .section-intro h1 {
        font-size: 28px;
    }

    .section-intro h1 .accent {
        font-size: 52px;
        white-space: nowrap;
    }
}

.section-about {
    padding-top: 0;
}

@media all and (min-width: 769px) {
    .list-about-us>[class*='col-'] {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.list-features .item {
    position: relative;
    margin-bottom: 55px;
}

.list-features .item:before {
    content: '';
    position: absolute;
    top: 18px;
    bottom: 18px;
    background: #dadbdd;
    border-radius: 12px;
    width: 85%;
}

.list-features .item .content {
    position: relative;
    background: #fff;
    max-width: 645px;
    padding: 30px;
    border-radius: 12px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.list-features .item.item--left:before {
    left: 0;
}

.list-features .item.item--right:before {
    right: 0;
}

.list-features .item.item--right .content {
    margin-left: auto;
}

@media all and (max-width: 600px) {
    .list-features .item {
        margin-bottom: 30px;
    }
}

.section-contact-us {
    background: #333A44;
    padding: 60px 0 140px 0;
}

.section-contact-us .address {
    margin: 5% 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
}

.section-contact-us .address img {
    margin-right: 7px;
    position: relative;
    top: -2px;
}


.form-contact {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #333A44;
    border-radius: 12px;
    padding: 35px 25px 40px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
}

.form-contact .title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.form-contact .form-group {
    margin-bottom: 36px;
}

.form-contact .form-control {
    height: 45px;
    font-size: 17px;
}

.form-contact textarea {
    min-height: 160px;
    resize: vertical;
}

.form-contact .btn-default {
    max-width: 200px;
    color: #000;
    background: #FEBA12;
    border: 2px solid #feba12;
    height: 45px;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.form-contact .btn-default:hover,
.form-contact .btn-default:active,
.form-contact .btn-default:focus {
    color: #feba12;
    background: transparent;
    outline: none;
}

@media all and (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0;
        padding-right: 0;
    }

    .row-md-height {
        display: table-row;
    }

    .col-md-height {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

@media all and (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0;
        padding-right: 0;
    }

    .row-sm-height {
        display: table-row;
    }

    .col-sm-height {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.btn-default {
    display: inline-block;
    text-align: center;
    z-index: 9;
    white-space: nowrap;
    font-size: 18px;
    line-height: 46px;
    font-weight: 700;
    color: #333A44;
    background-color: #feba12;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0;
    padding: 0 50px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background: #f5af01;
    text-decoration: none;
    outline: none;
}

.btn-default.btn-submit {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-default.btn-submit:not([disabled]):hover {
    background-color: #449d44;
    border-color: #398439;
}

.btn-default.btn-close {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-default.btn-close:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.modal-backdrop {
    background: rgba(255, 255, 255, 0.75);
}

.modal-backdrop.in {
    opacity: 1;
}

.modal-common a,
.modal-common a:hover,
.modal-common a:focus,
.modal-common a:active {
    color: #f5f5f5;
    text-decoration: none;
}

.modal-common .modal-dialog {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.modal-common .modal-content {
    background-color: #424242;
    border: none;
    padding: 15px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #f5f5f5;
}

.modal-common .modal-body {
    padding-left: 0;
    padding-right: 0;
}

.modal-common .modal-header {
    border: 0;
    text-align: center;
}

.modal-common .modal-header h4 {
    color: #feba12;
}

.modal-common .modal-header .close {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 20px;
    padding: 0;
    text-indent: 4px;
    line-height: 1.4;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 700;
    text-transform: none;
    border-radius: 0px;
    opacity: 1;
    text-shadow: none;
    text-indent: 0;
}

.modal-common .modal-header .close:active,
.modal-common .modal-header .close:focus,
.modal-common .modal-header .close:hover {
    color: #f5f5f5;
}

.modal-common#modalRegister .modal-dialog {
    max-width: 500px;
}

.modal-common#modal-terms .modal-dialog {
    max-width: none;
}

.form-wrapper {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper .form-group {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.form-wrapper .form-group label {
    display: block;
    font-size: 14px;
    text-align: left;
}

.form-wrapper .form-group .form-control {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    text-align: left;
}

.form-wrapper .form-group .form-control[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: inherit;
    margin-right: 6px;
}

.form-wrapper .form-group .form-control.wrong {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.25);
}

.form-wrapper .form-group .form-control.wrong[type="checkbox"] {
    outline: outset 3px red;
}

.form-wrapper .form-group .form-control[readonly] {
    opacity: .8;
    background-color: #eee;
}

.form-wrapper [ng-message],
.form-wrapper .err {
    position: absolute;
    width: 100%;
}

.form-wrapper [ng-message],
.form-wrapper .err,
.form-wrapper .error-message {
    color: red;
    text-align: center;
    font-size: 12px;
}

.form-wrapper .error-message {
    font-size: 16px;
}

.form-wrapper .link-accent {
    color: #f5f5f5;
    font-size: 14px;
}

.form-wrapper .link-accent:hover {
    text-decoration: none;
}

.policies {
    color: #8d8e99;
}

/* === page-light === */
.page-light {
    background: #fff;
}

.page-light .navbar-default {
    background: #fff;
}

.page-light .navbar-default .navbar-nav>li.active>a {
    color: #feba12;
}

.page-light .navbar-default .navbar-nav>li.nav-accent>a {
    color: initial;
}

.page-light .navbar-default .navbar-nav>li>a {
    color: #333A44;
}

.page-light .navbar-default .navbar-nav>li>a.btn-login {
    border-color: #333A44;
}

.page-light .navbar-default .navbar-toggle {
    border-color: #555;
}

.page-light .navbar-default .navbar-toggle .icon-bar {
    background-color: #555;
}

/* === Conference === */
.img-conference {
    margin-bottom: 45px;
    border-radius: 12px;
    -webkit-box-shadow: 0 10px 30px #d5dee2;
    box-shadow: 0 10px 30px #d5dee2;
}

.form-conference {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
}

.form-conference .title {
    margin: 5px 0 35px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.form-conference .group-title {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: bold;
}

.form-conference .group-inputs {
    margin-bottom: 5px;
}

.form-conference .form-group {
    margin-bottom: 20px;
}

.form-conference .form-control {
    height: 45px;
    color: #888;
    border-color: #e3e3e3;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-conference .form-control:focus {
    border-color: #feba12;
}

.form-conference textarea {
    min-height: 160px;
    resize: vertical;
}

.form-conference .btn-default {
    width: 100%;
}

body.whitelabel-50001 {
    /* mediabump.club */
}

body.whitelabel-50001 .navbar-default {
    background-color: #ff3366;
    color: #fff;
}

body.whitelabel-50001 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50001 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50001 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50001 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #5f3364;
}

body.whitelabel-50001 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #5f3364;
}

body.whitelabel-50001 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50001 .section-common-welcome {
    background: #5f3364;
}

body.whitelabel-50001 .section-customers .advertisers-container .icon,
body.whitelabel-50001 .section-customers .advertisers-container h4 {
    color: #5f3364;
}

body.whitelabel-50001 .section-about h3:after {
    border-bottom-color: #5f3364;
}

body.whitelabel-50001 .btn-slide.btn-color-1 {
    border-color: #5f3364;
    color: #5f3364;
}

body.whitelabel-50001 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50001 .btn-slide.btn-color-1:after,
body.whitelabel-50001 .btn-slide.btn-color-1:before {
    background: #5f3364;
}

body.whitelabel-50017 {
    /* affsclub.com */
}

body.whitelabel-50017 .navbar-default {
    background-color: #8721AF;
    color: #fff;
}

body.whitelabel-50017 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50017 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50017 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50017 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #60DFE5;
}

body.whitelabel-50017 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #60DFE5;
}

body.whitelabel-50017 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50017 .section-common-welcome {
    background: #60DFE5;
}

body.whitelabel-50017 .section-customers .advertisers-container .icon,
body.whitelabel-50017 .section-customers .advertisers-container h4 {
    color: #60DFE5;
}

body.whitelabel-50017 .section-about h3:after {
    border-bottom-color: #60DFE5;
}

body.whitelabel-50017 .btn-slide.btn-color-1 {
    border-color: #60DFE5;
    color: #60DFE5;
}

body.whitelabel-50017 .btn-slide.btn-color-1:after,
body.whitelabel-50017 .btn-slide.btn-color-1:before {
    background: #60DFE5;
}

body.whitelabel-50012 {
    /* affshub.com */
}

body.whitelabel-50012 .navbar-default {
    background-color: #fff;
    color: #333;
}

body.whitelabel-50012 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50012 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50012 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50012 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #c60000;
}

body.whitelabel-50012 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #c60000;
}

body.whitelabel-50012 .navbar-default .navbar-nav>li>a {
    color: #333;
}

body.whitelabel-50012 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50012 .section-common-welcome {
    background: #c60000;
}

body.whitelabel-50012 .section-customers .advertisers-container .icon,
body.whitelabel-50012 .section-customers .advertisers-container h4 {
    color: #c60000;
}

body.whitelabel-50012 .section-about h3:after {
    border-bottom-color: #c60000;
}

body.whitelabel-50012 .btn-slide.btn-color-1 {
    border-color: #c60000;
    color: #c60000;
}

body.whitelabel-50012 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50012 .btn-slide.btn-color-1:after,
body.whitelabel-50012 .btn-slide.btn-color-1:before {
    background: #c60000;
}

body.whitelabel-50024 {
    /* prestigeaffs.com */
}

body.whitelabel-50024 .navbar-default {
    color: #fff;
}

body.whitelabel-50024 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50024 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50024 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50024 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #503214;
}

body.whitelabel-50024 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #503214;
}

body.whitelabel-50024 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50024 .section-common-welcome {
    background: #503214;
}

body.whitelabel-50024 .section-customers .advertisers-container .icon,
body.whitelabel-50024 .section-customers .advertisers-container h4 {
    color: #503214;
}

body.whitelabel-50024 .section-about h3:after {
    border-bottom-color: #503214;
}

body.whitelabel-50024 .btn-slide.btn-color-1 {
    border-color: #503214;
    color: #503214;
}

body.whitelabel-50024 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50024 .btn-slide.btn-color-1:after,
body.whitelabel-50024 .btn-slide.btn-color-1:before {
    background: #503214;
}

body.whitelabel-50027 {
    /* swissaffs.com */
}

body.whitelabel-50027 .navbar-default {
    background-color: #fff;
    color: #333;
}

body.whitelabel-50027 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50027 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50027 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50027 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #C60000;
}

body.whitelabel-50027 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #C60000;
}

body.whitelabel-50027 .navbar-default .navbar-nav>li>a {
    color: #333;
}

body.whitelabel-50027 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50027 .section-common-welcome {
    background: #C60000;
}

body.whitelabel-50027 .section-customers .advertisers-container .icon,
body.whitelabel-50027 .section-customers .advertisers-container h4 {
    color: #C60000;
}

body.whitelabel-50027 .section-about h3:after {
    border-bottom-color: #C60000;
}

body.whitelabel-50027 .btn-slide.btn-color-1 {
    border-color: #C60000;
    color: #C60000;
}

body.whitelabel-50027 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50027 .btn-slide.btn-color-1:after,
body.whitelabel-50027 .btn-slide.btn-color-1:before {
    background: #C60000;
}

body.whitelabel-50028 {
    /* cluoclick.marketing */
}

body.whitelabel-50028 .navbar-default {
    background-color: #fff;
    color: #333;
}

body.whitelabel-50028 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50028 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50028 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50028 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #F8D026;
}

body.whitelabel-50028 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #F8D026;
}

body.whitelabel-50028 .navbar-default .navbar-nav>li>a {
    color: #333;
}

body.whitelabel-50028 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50028 .section-common-welcome {
    background: #F8D026;
}

body.whitelabel-50028 .section-customers .advertisers-container .icon,
body.whitelabel-50028 .section-customers .advertisers-container h4 {
    color: #F8D026;
}

body.whitelabel-50028 .section-about h3:after {
    border-bottom-color: #F8D026;
}

body.whitelabel-50028 .btn-slide.btn-color-1 {
    border-color: #F8D026;
    color: #F8D026;
}

body.whitelabel-50028 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50028 .btn-slide.btn-color-1:after,
body.whitelabel-50028 .btn-slide.btn-color-1:before {
    background: #F8D026;
}

body.whitelabel-50032 {
    /* 360affs.com */
}

body.whitelabel-50032 .navbar-default {
    color: #fff;
}

body.whitelabel-50032 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50032 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50032 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50032 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #55dfec;
}

body.whitelabel-50032 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #55dfec;
}

body.whitelabel-50032 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50032 .section-common-welcome {
    background: #55dfec;
}

body.whitelabel-50032 .section-customers .advertisers-container .icon,
body.whitelabel-50032 .section-customers .advertisers-container h4 {
    color: #55dfec;
}

body.whitelabel-50032 .section-about h3:after {
    border-bottom-color: #55dfec;
}

body.whitelabel-50032 .btn-slide.btn-color-1 {
    border-color: #55dfec;
    color: #55dfec;
}

body.whitelabel-50032 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50032 .btn-slide.btn-color-1:after,
body.whitelabel-50032 .btn-slide.btn-color-1:before {
    background: #55dfec;
}

body.whitelabel-50049 {
    /* olahmedia.net */
}

body.whitelabel-50049 .navbar-default {
    background-color: #fff;
    color: #333;
}

body.whitelabel-50049 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50049 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50049 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50049 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #1C1C1C;
}

body.whitelabel-50049 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #1C1C1C;
}

body.whitelabel-50049 .navbar-default .navbar-nav>li>a {
    color: #333;
}

body.whitelabel-50049 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50049 .section-common-welcome {
    background: #1C1C1C;
}

body.whitelabel-50049 .section-customers .advertisers-container .icon,
body.whitelabel-50049 .section-customers .advertisers-container h4 {
    color: #1C1C1C;
}

body.whitelabel-50049 .section-about h3:after {
    border-bottom-color: #1C1C1C;
}

body.whitelabel-50049 .btn-slide.btn-color-1 {
    border-color: #1C1C1C;
    color: #1C1C1C;
}

body.whitelabel-50049 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50049 .btn-slide.btn-color-1:after,
body.whitelabel-50049 .btn-slide.btn-color-1:before {
    background: #1C1C1C;
}

body.whitelabel-50025 {
    /* travelaffs.com */
}

body.whitelabel-50025 .navbar-default {
    color: #fff;
}

body.whitelabel-50025 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50025 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50025 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50025 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #F1592D;
}

body.whitelabel-50025 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #F1592D;
}

body.whitelabel-50025 .section-intro-inner .img-logo {
    width: 550px;
}

body.whitelabel-50025 .section-common-welcome {
    background: #F1592D;
}

body.whitelabel-50025 .section-customers .advertisers-container .icon,
body.whitelabel-50025 .section-customers .advertisers-container h4 {
    color: #F1592D;
}

body.whitelabel-50025 .section-about h3:after {
    border-bottom-color: #F1592D;
}

body.whitelabel-50025 .btn-slide.btn-color-1 {
    border-color: #F1592D;
    color: #F1592D;
}

body.whitelabel-50025 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50025 .btn-slide.btn-color-1:after,
body.whitelabel-50025 .btn-slide.btn-color-1:before {
    background: #F1592D;
}

body.whitelabel-50058 {
    /* playtikagames.com */
}

body.whitelabel-50058 .navbar-default {
    color: #fff;
}

body.whitelabel-50058 .bg-video .cover {
    opacity: 0.5;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

body.whitelabel-50058 .navbar-default .navbar-nav>li.active>a,
body.whitelabel-50058 .navbar-default .navbar-nav>li:hover>a,
body.whitelabel-50058 .navbar-default .navbar-nav>li:focus>a,
body.whitelabel-50058 .navbar-default .navbar-nav>li:visited>a {
    color: #ffffff;
    background-color: #D21123;
}

body.whitelabel-50058 .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #D21123;
}

body.whitelabel-50058 .section-intro-inner .img-logo {
    width: 250px;
    margin-bottom: 20px;
}

body.whitelabel-50058 .section-intro-inner .img-logo2 {
    width: 400px;
}

body.whitelabel-50058 .section-common-welcome {
    background: #D21123;
}

body.whitelabel-50058 .section-customers .advertisers-container .icon,
body.whitelabel-50058 .section-customers .advertisers-container h4 {
    color: #D21123;
}

body.whitelabel-50058 .section-about h3:after {
    border-bottom-color: #D21123;
}

body.whitelabel-50058 .btn-slide.btn-color-1 {
    border-color: #fff;
    color: #fff;
}

body.whitelabel-50058 .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50058 .btn-slide.btn-color-1:after,
body.whitelabel-50058 .btn-slide.btn-color-1:before {
    background: #D21123;
}

body.whitelabel-50058 .advertisers-container .btn-slide.btn-color-1 {
    border-color: #D21123;
    color: #D21123;
}

body.whitelabel-50058 .advertisers-container .btn-slide.btn-color-1:hover {
    color: #fff;
}

body.whitelabel-50058 .advertisers-container .btn-slide.btn-color-1:after,
body.whitelabel-50058 .advertisers-container .btn-slide.btn-color-1:before {
    background: #D21123;
}

body.whitelabel-50058 .btn-default {
    background: #fff;
    color: #212121;
    border: none;
}

body.whitelabel-50058 .btn-default:hover {
    background: #D21123;
    color: #fff;
    border: none;
}

body.whitelabel-50058 .section-customers .publishers-container .icon,
body.whitelabel-50058 .section-customers .publishers-container h2,
body.whitelabel-50058 .section-customers .publishers-container h4 {
    color: #fff;
}

body.whitelabel-50058 .btn-slide.btn-color-2 {
    background: none;
    color: #fff;
    border-color: #fff;
}

body.whitelabel-50058 .btn-slide.btn-color-2:hover {
    color: #4F4F4F;
}

body.whitelabel-50058 .btn-slide.btn-color-2:after,
body.whitelabel-50058 .btn-slide.btn-color-2:before {
    background: #fff;
}

body.whitelabel-50058 .pattern {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*# sourceMappingURL=main.css.map */

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Poppins;
}


/*General styles start*/

.footer-rights {
    display: flex;
    flex-direction: column-reverse;
}

.form-subtitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 26px;
}

img {
    max-width: 100%;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 60px;
}

p {
    font-size: 18px;
    color: #62605B;
}

.title-box {
    font-size: 22px;
    font-weight: 700;
    color: #333A44;
}

.title-company-box {
    font-size: 26px;
    color: #333A44;
    font-weight: 700;
}

.section-title {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    position: relative;
    margin-top: 114px;
    margin-left: 22px;
    color: #333A44;
}


.section-title::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: -20px;
    width: 5px;
    height: 30px;
    background: #FEBA12;
}

/*General styles end*/

.about .box-container .box:first-child {
    margin-bottom: 20px;
}

.box-container,
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.box-container .box {
    max-width: 500px;
}

.box .icon {
    width: 74px;
    height: 74px;
    margin-right: 30px;
    max-width: initial;
}

.company .box-container .box {
    flex-direction: column;
    max-width: initial;
    margin-right: 90px;
    display: flex;
    justify-content: end;
}

.company {
    margin-bottom: 100px;
}

.company .box-container .icon {
    width: initial;
    height: initial;
    max-width: 62px;
    max-height: 62px;
}


/*End contact form*/

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .info {
    margin: 0;
    padding: 56px 0;
}

#footer ul li a,
#footer .rights {
    color: #807C74;
    font-size: 14px;
}

#footer .rights {
    margin: 22px 0 30px 0;
}

#footer ul li:first-child {
    margin-right: 36px;
}

@media (max-width: 992px) {
    .navbar-default .navbar-nav>li .btn-login{
        margin-top: 0 !important;
    }
    .row {
        padding: 0 !important;
        margin: 0 !important;
    }

    .about {
        margin: 50px 0;
    }
    .section-about p{
        font-size: 16px;
    }
    .section-title,
    p {
        text-align: center;
    }
    .section-about .subtitle, .section-company .subtitle{
        margin: 10px 0 50px 0;
        font-size: 18px;
    }

    .section-company p{
        font-size: 16px;
    }
    .section-company{
        margin-bottom: 60px;
    }
    .section-company .title-company-box{
        font-size: 22px;
        margin: 30px 0 20px 0;
    }

    .title-box{
        margin: 20px 0 15px 0;
        font-size: 18px;
    }
    
    .section-contact-us{
        padding: 40px 0 140px 0;
    }

    .content-header h2 {
        font-size: 28px;
    }

    .content-header h1 {
        font-size: 52px;
    }


    .form-contact .title , .section-title {
        font-size: 28px;
        margin: 0;
    }

    .section-title:before {
        display: none;
    }

    .box-container,
    .box {
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: initial;
        margin-bottom: 35px !important;
    }

    .box-container .box p {
      margin-bottom: 0 !important;
    }
    
    .box-container{
        margin-bottom: 0 !important; 
    }

    .box-container .icon {
        margin: 0;
    }

    .company .box-container .box {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .address{
        font-size: 14px !important;
    }
    .section-contact-us .container {
        padding: 0px !important;
    }


    .form-container {
        padding: 0px !important;
    }

    .form-contact {
        margin-bottom: 74px !important;
        padding: 20px 20px !important;
    }
}

@media all and (min-width: 992px) {
    .section-contact-us .col-md-height:first-child {
        padding-right: 0;
    }

    .section-contact-us .col-md-height:last-child {
        padding-left: 0;
    }
}

@media (min-width: 1028px) {
   
    .company .subtitle {
        max-width: 90%;
    }

    .title-box {
        max-width: 80%;
    }

    .navbar-nav {
        margin-left: 13%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav.navbar-right {
        float: none !important;
        text-align: center;
    }

    .navbar-nav.navbar-right>li {
        float: none;
        display: inline-block;
    }

    .navbar-nav.navbar-right>li>a {
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 576px) {
    .section-contact-us{
        padding: 40px 0 40px 0;
    }

    #footer ul li:first-child {
        margin-right: 0;
    }

    .footer-menu {
        align-items: center;
        flex-direction: column;
    }

    .content-header h2 {
        font-size: 24px;
    }

    .content-header h1 {
        font-size: 42px;
    }
}

@media all and (max-width: 768px) {
    .navbar-default .slogan {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media all and (max-width: 1000px) {
    body.apply-navbar {
        padding-top: 60px;
    }

    body.apply-navbar .navbar-brand {
        height: 65px;
        line-height: 65px;
    }

    body.apply-navbar .navbar-brand>img {
        max-height: 50px;
    }

    .navbar-default .navbar-collapse>ul>li>a {
        line-height: 35px;
        text-align: center;
    }

    .navbar-default .navbar-collapse .navbar-right {
        text-align: center;
    }

    .navbar-default .navbar-collapse .navbar-right>li {
        display: inline-block;
    }
}