@font-face {
    font-family:"Quiche Sans";
    src:url("https://use.typekit.net/af/49986a/00000000000000003b9b3bd0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/49986a/00000000000000003b9b3bd0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/49986a/00000000000000003b9b3bd0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    }

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.active{
    position: relative;
    color: #FFC107 !important;
}


body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: #1D1E22;
}

main{
    overflow-x: hidden;
}

.font-qs{
    font-family: 'Quiche Sans';
}

.btn{
    outline: 0 !important;

    &:focus{
        outline: 0;
        color: #fff;
        box-shadow: initial;
    }
}


/*
Hamburger menu
*/

#nav-toggler{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    width: 24px;
    height: 14px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-toggler span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFC107;
    border-radius: 4rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-toggler span:nth-child(1) {
    top: 0px;
    width: 50%;
    right: 0;
    left: auto;
}
  
  #nav-toggler span:nth-child(2) {
    top: 7px;
  }
  
  #nav-toggler span:nth-child(3) {
    top: 14px;
    width: 50%;
    left: 0;
    right: auto;
  }
  
  #nav-toggler.open span:nth-child(1) {
    width: 100%;
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-toggler.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-toggler.open span:nth-child(3) {
    width: 100%;
    top: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

img{
    max-width: 100%;
}

p{
    font-size: 1.125rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1D1E22 !important;
    background: #FFC107;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    box-shadow: none;
    max-width: 300px;
    height: 64px;
    border-radius: 6px;

    &:hover{
        color: #1D1E22 !important;
        background: #FFD54F;
    }

    &:active{
        color: #1D1E22 !important;
        background: #FFA000;
    }
}

.title-section{
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    color: #FFC107;
}

.subtitle-section{
    font-size: 1.125rem;
    letter-spacing: .25em;
    text-align: center;
    text-transform: uppercase;
}

.service-title{
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
    color: #D4D4DC;
    margin-bottom: 1rem;
}

.form-title{
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

#answer_login_form{
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
}

/*
Navigation buttons
*/

.navbar .navbar-nav{
    .nav-btn{
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 1.125rem;
        border: 1px solid #fff;
        padding: 10px 0;
        width: 120px;
        outline: none;
        box-shadow: none;
        text-align: center;
        cursor: pointer;
    
        &:focus{
            box-shadow: none;
        }
    }
}

/*
Contact form
*/

.contact-form{
    max-width: 500px;
    margin: 0 auto;

    .btn{
        display: block;        
        margin: 0 auto;
        margin-top: 2rem;
    }

    input, 
    textarea{
        background: transparent;
        border: 0;
        resize: none;
        color: #fff;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        outline: none;

        &:focus{    
            border-bottom: 2px solid #fff;
            box-shadow: none;
            background: transparent;
            color: #fff;
        }

        &::placeholder{
            font-size: 1.125rem;
            color: #fff;
            text-transform: uppercase;
        }
    }

    input{
        margin-top: 2.75rem;
    }

    textarea{
        margin-top: 6rem;
    }
}


.navbar{
    width: 100%;
    background: #2C2E36;
    height: 92px;
    padding: 0 6rem;

    .navigation{
        .navbar-brand{
            display: none;
        }
    }

    .navbar-nav{
        justify-content: space-evenly;
        align-items: center;
        margin-left: auto;
        width: 100%;
    }

    .nav-link{
        font-size: 1.125rem;
        font-weight: 500;
        color: #D4D4DC;
        outline: none;
        text-transform: uppercase;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &:hover{
            position: relative;
            color: #FFC107;
        }
    }
}

.vertical-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: transparent;
    transition-property: all;
    transition-duration: 1s;

    .navigation{
        text-align: center;
        width: 100%;

        .navbar-brand{
            margin: 0;
            padding: 2rem 0;
            display: block;
        }
    }

    .nav-link{
        margin: 0 2rem;
    }

    .logo-desktop{
        display: none;
        transition-property: all;
        transition-duration: 1s;

    }
}

#header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .background-header{
        position: absolute;
        top: 0;
        left: 0;
        width: 1920px;
        height: 100vh;
        z-index: 3;
        object-fit: cover;
    }

    .header-lines{
        position: absolute;
        top: 44%;
        left: 0;
        transform: translateY(-50%);
        max-width: 100%;
        z-index: 4;
    }

    .image{
        text-align: center;
    }

    .content-header-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 72%;
        width: 100%;
        z-index: 5;
    }

    .title-header{
        margin: 0 auto;
        margin-bottom: 2rem;
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        color: #FFC107;
    }

    .btn{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.red{
    color: red !important;
}

main{

    .wrapper{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .box-content{
        width: 90%;

        p{
            color: #fff;
        }

        .btn{
            margin-top: 2rem;
        }
    }

    #clients{
        position: relative;
        overflow: hidden;

        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10rem;
            align-items: flex-end;
            padding: 0 2rem;

            .image-container{
                position: relative;
                padding-top: 80%;

                .static-img{
                    position: absolute;
                    z-index: 3;
                    left: 50%;
                    top: 65%;
                    transform: translate(-50%, -50%);
                }

                .planets-before{
                    position: absolute;
                    top: 30%;
                    left: 9%;
                    z-index: 1;
                    transition: .5s ease-in-out;
                }

                .lines-before{
                    position: absolute;
                    top: 0;
                    left: 10%;
                    z-index: -1;
                    transition: .8s ease-in-out;
                }

                .planet-after{
                    position: absolute;
                    left: 26%;
                    bottom: calc(-6rem);
                    transform: translate(-50%, -50%);
                    z-index: 4;
                }

                .lines-after{
                    position: absolute;
                    left: -12%;
                    bottom: -6%;
                    z-index: 5;
                    transition: .8s ease-in-out;
                }
            }

            .animation-clients{
                .planets-before{
                    transform: rotate(20deg);
                }

                .lines-before{
                    left: 20%;
                    top: 15%;
                }

                .lines-after{
                    left: 11%;
                    bottom: -26%;
                }
            }
        }
    }

    #welcome{
        position: relative;
        width: 100%;
        height: 760px;
        display: flex;
        align-items: center;
        overflow: hidden;

        figure{
            margin: 0;
            z-index: 102;
        }

        .left-img-container{
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            

            img{
                max-width: 100%;
            }
        }

        .right-img-container{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;

            img{
                max-width: 100%;
            }
        }


        .wrapper{
            z-index: 5;

            .title-section{
                text-align: center;
            }

            .subtitle-section{
                color: #D4D4DC;
            }
        }
    }

    #about_us{
        padding: 6rem 0 ;

        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 6rem;

            .image-container{
                position: relative;

                .static-img{
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                }

                .before-img{
                    position: absolute;
                    left: calc(-9% + 2rem);
                    bottom: 0;
                    z-index: 1;
                    transition: .5s ease-in-out;
                }

                .after-img{
                    position: absolute;
                    left: calc(50% + 4rem);
                    top: calc(10% + 6rem);
                    z-index: 3;
                    transition: .5s ease-in-out;
                }
            }

            .animation-about-us{
                .before-img{
                    left: calc(-3% + 2rem);
                }

                .after-img{
                    left: calc(40% + 4rem);
                }
            }
        }
    }

    #boxes{
        position: relative;
        background: linear-gradient(180deg, #1D1E22 0%, #000000 51.04%, #1D1E22 100%);
        overflow: hidden;

        .line-left{
            position: absolute;
            left: 0;
            top: 0;
            transition: .5s ease-in-out; 
        }

        .line-top{
            position: absolute;
            right: calc(-6% + 1rem);
            top: -41%; 
            transition: .5s ease-in-out;        
        }

        .line-bottom{
            position: absolute;
            right: calc(30% - 3rem);
            bottom: 5%;  
            transition: .5s ease-in-out;       
        }

        .container-boxes{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 3rem;
            max-width: 1440px;
            margin: 0 auto;
            padding: 10rem 0;

            .top-img{
                position: absolute;
                left: 32%;
                top: 30%;            
                z-index: 3;
                transition: .5s ease-in-out;            
            }

            .bottom-img{
                position: absolute;
                right: 32%;
                bottom: 11%;            
                z-index: 5;
                transition: .5s ease-in-out;            
            }

            .box:nth-of-type(1){
                z-index: 2;
            }
            .box:nth-of-type(2){
                z-index: 4;
            }
            .box:nth-of-type(3){
                z-index: 6;
            }

            .box{
                position: relative;
                background: #1D1E22;
                border: 1px solid #FEDA6A;
                width: 100%;
                height: 448px;
                overflow: hidden;

                &:before{
                    position: absolute;
                    content: url(../img/box-dots.svg);
                    top: 0;
                    left: 0;
                }

                .box-content{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .box-title{
                    font-size: 1.5rem;
                    color: #D4D4DC;
                }

                p{
                    color: #fff;
                    text-align: center;
                    max-width: 80%;
                }
            }
        }

        .animation-boxes{
            .top-img{
                left: 30%;              
            }

            .bottom-img{
                right: 31%;           
            }
        }
    }

    .animation-lines{
        .line-left{
            top: 3rem !important;
            left: -3rem !important;
        }

        .line-top{
            right: calc(-6% + 8rem) !important;
            top: -30% !important;     
        }

        .line-bottom{
            right: calc(30% - 1rem) !important;
            bottom: -1% !important;     
        }
    }

    #services{
        position: relative;
        padding: 6rem 0;

        .wrapper{
            max-width: 1200px;
        }

        .service-background{
            position: absolute;
            max-width: 100%;
            left: 0;
            top: 0;
        }
        
        .service-box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10rem;
            align-items: center;
            padding-bottom: 6rem;

            .content{
                min-height: 420px;
            }

            .btn{
                display: none;
                margin-top: 2rem;
                transition: background-color 2s ease-out;
            }
        }

        .title-section,
        .subtitle-section,
        .intro{
            text-align: center;
        }

        .intro{
            margin-bottom: 16rem;
        }

        .subtitle-section{
            color: #D4D4DC;
            margin-bottom: 4rem;
        }

        p{
            max-width: 920px;
            margin: 0 auto;
            font-weight: 400;
            color: #fff;
        }

        .image-container{
            position: relative;
            padding-top: 100%;
            width: 100%;

            .static-img{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: .5s ease-in-out; 
            }
        }

        #marketing{
            .image-container{
                .static-img{
                    z-index: 1;
                }

                .move-img{
                    position: absolute;
                    top: 40%;
                    left: 34%;
                    z-index: 2;
                    transition: .5s ease-in-out; 
                }
            }
        }

        .animation-marketing{
            .btn{
                display: flex !important;
            }

            .static-img{
                left: 6%;
            }

            .move-img{
                left: 24% !important; 
            }
        }

        #writing{
            .image-container{
                .static-img{
                    z-index: 1;
                }

                .move-img{
                    position: absolute;
                    top: 45%;
                    left: 46%;
                    z-index: 2;
                    transform: rotate(30deg);
                    transition: .5s ease-in-out; 
                }
            }
        }

        .animation-writing{
            .btn{
                display: flex !important;
            }

            .static-img{
                left: 6%;
            }

            .move-img{
                left: 60% !important;
                transform: rotate(0deg) !important;
            }
        }

        #seo{
            .static-img{
                z-index: 2;
            }

            .move-img{
                position: absolute;
                top: 37%;
                left: 4%;
                z-index: 1;
                transition: .5s ease-in-out; 
            }
        }

        .animation-seo{
            .btn{
                display: flex !important;
            }

            .static-img{
                left: 6%;
            }

            .move-img{
                left: 0% !important;
            }
        }

        #web{
            .static-img{
                z-index: 2;
            }

            .move-img{
                position: absolute;
                bottom: 14%;
                right: 33%;
                z-index: 1;
                transition: .5s ease-in-out; 
            }
        }

        .animation-web{
            .btn{
                display: flex !important;
            }

            .static-img{
                left: 6%;
            }

            .move-img{
                right: 39% !important;
            }
        }

        #hr-service{
            .static-img{
                z-index: 1;
            }

            .move-img{
                position: absolute;
                bottom: 11%;
                left: -25%;
                z-index: 2;
                transition: .5s ease-in-out; 
            }
        }

        .animation-hr{
            .btn{
                display: flex !important;
            }

            .static-img{
                left: -6%;
            }

            .move-img{
                left: 0% !important;
            }
        }

        #financial{
            .static-img{
                z-index: 2;
            }

            .move-before,
            .move-after{
                position: absolute;
            }

            .move-before{
                z-index: 1;
                bottom: 5%;
                left: 7%;
            }

            .move-after{
                z-index: 3;
                right: 14%;
                top: 43%;
            }
        }

        .animation-financial{
            .btn{
                display: flex !important;
            }

            .static-img{
                left: 6%;
            }

            .move-before{
                left: 12%;
            }

            .move-after{
                right: 10%;
            }
        }
    }

    #transformation{
        padding-bottom: 6rem;

        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .image-container{
            position: relative;
            padding-top: 20%;
            width: 100%;

            .static-img{
                position: absolute;
                right: 6%;
                bottom: 0;
                z-index: 1;
                transition: .5s ease-in-out;
            }

            .move-img{
                position: absolute;
                right: 23%;
                top: 0;
                z-index: 2;
                transition: .5s ease-in-out;
            }

        }

        .animation-transformation{
            .static-img{
                position: absolute;
                right: 10%;
                bottom: 0;
                z-index: 1;
            }

            .move-img{
                position: absolute;
                right: 20%;
                top: 0;
                z-index: 2;
            }
        }

        .title-section{
            text-align: center;
            margin-bottom: 2rem;
        }

        .subtitle-section{
            color: #D4D4DC;
        }
        
        .btn{
            margin-top: 2rem;
        }
    }

    #careers{
        overflow: hidden;
        padding-top: 8rem;
        padding-bottom: 6rem;

        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
        }

        .subtitle-section{
            color: #D4D4DC;
            text-align: left;
        }

        .btn{
            position: absolute;
            left: calc(30% + 20rem);
            bottom: 16%;
        }

        .image-container{
            position: relative;

            .left-circle,
            .right-circle{
                display: none;
            }

            &:before{
                position: absolute;
                content: url(../img/blur-careers.svg);
                left: -14rem;
                top: 50%;
                z-index: -1;
                transform: translateY(-50%);
            }
            
            &:after{
                position: absolute;
                content: url(../img/blur-careers.svg);
                right: -14rem;
                top: 50%;
                z-index: -1;
                transform: translateY(-50%);
            }
        }
    }

    
    #contact_us{
        padding: 6rem 0 0 0 ;
        overflow: hidden;
        
        .title-section{
            text-align: center;
        }

        .contact-form{
            position: relative;
            
            .left-img{
                position: absolute;
                left: calc(1% - 14rem);
                bottom: calc(15% + 1rem);
                max-width: 100%;
                z-index: -2;
                transition: .5s ease-in-out;
            }

            .right-img{
                position: absolute;
                right: -4rem;
                bottom: calc(10% + 2rem);
                max-width: 100%;
                z-index: -2;
                transition: .5s ease-in-out;
            }
        }

        .animation-contact-us{
            .left-img{
                left: calc(1% - 10rem);
            }

            .right-img{
                right: -2rem;
            }
        }

        .subtitle-section{
            max-width: 1200px;
            margin: 0 auto;
            color: #D4D4DC;
            margin-bottom: 1.5rem;
            padding: 0 2rem;
        }

        .form-group{
            margin-bottom: 1.5rem;
        }

        p{
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 2.75rem;
        }
        .wrapper{
            max-width: 544px;
            margin: 0 auto;
            padding-bottom: 4rem;

            input, 
            textarea{
                background: #1D1E22;
                font-weight: 500;
                border: 0;
                resize: none;
                color: #D4D4DC;
                box-shadow: none;
                border: 1px solid #D4D4DC;
                outline: none;

                &:focus{    
                    border: 1px solid #D4D4DC;
                    box-shadow: none;
                }

                &::placeholder{
                    font-size: 1rem;
                    color: #D4D4DC;
                    text-transform: initial;
                    font-weight: 500;
                    opacity: .5;
                }
            }

            input{
                height: 64px;
                margin-top: 0;
            }

            textarea{
                margin: 0;
                height: 192px;

                &::placeholder{
                    padding-top: .5rem;
                }
            }
        }
    }
}

footer{
    position: relative;
    padding: 2rem 0;
    background: #0F1013;
    align-items: center;
    overflow: hidden;
    
    .wrapper{
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .copyright{
        position: relative;
        height: auto;
        z-index: 3;
        color: #fff;

        p{
            margin: 0 auto;
            font-weight: 600;
            font-size: .875rem;
            color: #fff;
        }
    }
}

@media (max-width: 1440px) {
    .navbar{
        padding: 0 1rem;

        .navigation{
            width: auto;
        }

        .collapse{
            width: auto;
        }
    }

    main{
        padding: 0 2rem;
    }
}

@media (max-width: 1024px) {
    .title-section {
        font-size: 2.5rem;
    }

    main{

        #services, #careers{
            padding-top: 6rem;
        }

        #clients{
            .wrapper{
                width: 100%;
                display: flex;
                flex-direction: column;

                .box-content{
                    width: 100%;
                }


                .image-container{
                    padding-top: 80%;
                    width: 100%;
                    margin-bottom: 6rem;

    
                    .static-img{
                        max-width: 58%;
                        top: 55%;
                    }
    
                    .planet-after{
                        max-width: 24%;
                        bottom: calc(1rem);
                        left: 35%;
                    }
    
                    .planets-before{
                        top: 22%;
                        left: 22%;
                    }
                    .lines-before {
                        top: -10%;
                        left: -10%;
                    }
    
                    .lines-after{
                        bottom: 6%;
                    }
                }
    
                .animation-clients{
    
                    .lines-before{
                        left: 5% !important;
                        top: 5% !important;
                    }
    
                    .lines-after{
                        left: 6%;
                        bottom: -2%;
                    }
                }
            }
        }

        #transformation .image-container {
            padding-top: 40%;

            .move-img{
                top: 10%;
            }
        }

        #careers{
            .image-container{
                &:before,
                &:after{
                    display: none;
                }
            }

            .btn{
                left: calc(30% + 0rem);
            }
        }
    }
}


@media (max-width: 992px) {
    figure{
        padding-top: 100%;
    }

    .title-section{
        text-align: center;
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
    }

    .subtitle-section{
        font-size: .875rem;
    }

    .wrapper{
        padding: 0 1.5rem !important;
    }

    p{
        font-size: .875rem;
    }

    .btn{
        font-size: 1.25rem;
        margin: 0 auto;
    }

    .service-title{
        font-size: 1.5rem;
        text-align: left;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .logo-desktop{
        display: none;
    }

    .navbar{
        padding: 0 1.5rem;

        .navigation{
            width: auto;

            .navbar-brand{
                display: block;
            }

            .navbar-brand{
                img{
                    max-width: 80%;
                }
            }
        }

        .navbar-collapse {
            position: absolute;
            width: 100%;
            top: 92px;
            left: 0;
            padding-bottom: 1rem;
            background: #fff;
        }

        .collapse{
            width: 100%;
            background: #2C2E36;
        }

        .navbar-nav{
            .btn-login{
                margin-bottom: .5rem;
            }
        }
    }

    #nav-toggler{
        display: block;
    }

    #header{
        .content-header-center{
            max-width: 100%;
            top: 35%;

            .title-header{
                font-size: 2.25rem;
            }
        }
    }

    main{

        padding: 0;

        .box-content{
            width: 100%;
        }

        #clients{
            .wrapper{
                display: flex;
                flex-direction: column;

                .image-container{
                    width: 100%;
                    padding-top: 100%;
                    margin-bottom: 6rem;

                    .static-img{
                        max-width: 58%;
                    }

                    .planet-after{
                        max-width: 58%;
                        bottom: calc(-8rem);
                    }

                    .planets-before{
                        top: 22%;
                        left: 1%;
                    }
                }
            }
        }

        #welcome{
            height: 550px;

            .left-img-container {
                bottom: 25%;
            }

            .right-img-container{
                display: none;
            }
        }

        #about_us{
            padding: 0;

            .wrapper{
                display: flex;
                flex-direction: column-reverse;

                .image-container{
                    .after-img{
                        max-width: 33%;
                    }
                }

                .btn{
                    margin: 0 auto;
                }
            }
        }

        #boxes{
            background: initial;

            .line-left, 
            .line-top, 
            .line-bottom{
                display: none !important;
            }

            .container-boxes{
                display: flex;
                flex-direction: column;
                margin: 0 2rem;
                overflow: hidden;
                padding-bottom: 2rem;

                .box{
                    margin-bottom: 2rem;
                    height: auto;
                    padding-top: 100%;
                }

                .box:nth-of-type(1){
                    z-index: 5;
                }
                .box:nth-of-type(2){
                    z-index: 3;
                }
                .box:nth-of-type(3){
                    z-index: 2;
                }

                .top-img{
                    left: -6%;
                    top: 31%;            
                    z-index: 4;          
                }
    
                .bottom-img{
                    right: -12%;
                    bottom: 31%;           
                    z-index: 3;          
                }
            }

            .animation-boxes{
                .top-img{
                    left: -3%;        
                }

                .bottom-img{
                    right: -9%;
                }
            }
        }

        #services{
            padding: 3rem 0;

            .image-container{
                padding-top: 80%;
            }

            .intro{
                padding: 0 2rem;
                margin-bottom: 3rem;
            }

            .service-box{
                display: flex;
                padding-bottom: 3rem;

                &:nth-of-type(odd){
                    flex-direction: column;
                }

                &:nth-of-type(even){
                    flex-direction: column-reverse;
                }
            }
        }

        #transformation{
            padding-bottom: 3rem;

            .image-container{
                padding-top: 100%;

                .static-img{
                    right: auto;
                    left: 0;
                }

                .move-img{
                    max-width: 40%;
                    right: 38%;
                    top: 31%;
                }
            }

            .animation-transformation{
                .static-img{
                    right: auto;
                    left: -4%;
                }

                .move-img{
                    right: 32%;
                }
            }
        }

        #careers{
            .wrapper{
                display: flex;
                flex-direction: column-reverse;

                .title-section, .subtitle-section{
                    text-align: center;
                }
            }

            .btn{
                position: relative;
                left: auto;
                margin: 0 auto;
                margin-top: 2rem;
            }

            .image-container{
                &:before,
                &:after{
                    display: none;
                }

                .left-circle{
                    display: block;
                    position: absolute;
                    z-index: -1;
                    left: -20px;
                    bottom: 36%;
                    transition: .5s ease-in-out;
                }

                .right-circle{
                    display: block;
                    position: absolute;
                    right: -10%;
                    top: 0;
                    transition: .5s ease-in-out;
                }
            }
            
            .animation-career-circles{
                .left-circle{
                    left: -10px;
                }

                .right-circle{
                    right: -15%;
                }
            }
        }

        #contact_us{
            p{
                font-size: 1.125rem;
                padding: 0 1.75rem;
                text-align: center;
            }

            .wrapper{
                padding: 0 1.75rem;
                padding-bottom: 4rem;
            }
        }
    }

    footer{
        padding: 0;

        .copyright{
            padding: 2rem 0;
            p{
                padding: 0 1.75rem;
            }
        }

        .footer-logo{
           top: auto;
           bottom: 0;
           left: 1%;
        }

        .wrapper{
            flex-direction: column;
            align-items: center;

            .footer-nav{
                li{
                    text-align: center;
                }
            }
        }

    }
}

@media (max-width: 770px) {
   main{

    #about_us{
        padding: 0;

        .wrapper{
            display: flex;
            flex-direction: column-reverse;

            .image-container{
                padding-top: 74%;

                .static-img{
                    left: 20%;
                }

                .before-img{
                    left: calc(15% + 2rem);
                    bottom: 20%;
                }

                .after-img{
                    max-width: 33%;
                }
            }

            .animation-about-us{
                .before-img{
                    left: calc(10% + 2rem) !important;
                }

                .after-img{
                    left: calc(40% + 4rem);
                }
            }
            
            .btn{
                margin: 0 auto;
            }
        }
    }


    #clients{
        .wrapper{
            .image-container{
                padding-top: 90%;

                .static-img{
                    max-width: 58%;
                    top: 55%;
                }

                .planet-after{
                    max-width: 24%;
                    bottom: calc(1rem);
                    left: 35%;
                }

                .planets-before{
                    top: 22%;
                    left: 22%;
                }
                .lines-before {
                    top: -10%;
                    left: -10%;
                }

                .lines-after{
                    bottom: 6%;
                }
            }

            .animation-clients{

                .lines-before{
                    left: 5% !important;
                    top: 5% !important;
                }

                .lines-after{
                    left: 6%;
                    bottom: -2%;
                }
            }
        }
    }

   #services{

    .image-container{
        padding-top: 60%;
    }

    .service-box .content {
        min-height: 250px;
    }

    #marketing{
        .image-container{
            .static-img{
                z-index: 1;
                left: -3%;
            }

            .move-img{
                left: 30%;
            }
        }
    }

    .animation-marketing{
        .static-img{
            left: 0% !important;
        }

        .move-img{
            left: 34% !important; 
        }
    }

    #writing{
        .image-container{
            .static-img{
                left: 15% !important;
            }

            .move-img{
                max-width: 50%;
                left: 37%;
            }
        }
    }

    .animation-writing{

        .static-img{
            left: 6%;
        }

        .move-img{
            left: 46% !important;
        }
    }

    #seo{
        .static-img{
            left: 14%;
        }

        .move-img{
            left: 14%;
            max-width: 50%;
        }
    }

    .animation-seo{
        .static-img{
            left: 10% !important;
        }
    }

    #web{
        .static-img{
            left: 14%;
        }

        .move-img{
            bottom: 14%;
            right: 30%;
        }
    }

    .animation-web{
        .static-img{
            left: 5% !important;
        }

        .move-img{
            right: 40% !important;
        }
    }

    #hr-service{
        .static-img{
            left: 15%;
        }

        .move-img{
            position: absolute;
            bottom: 11%;
            left: 16%;
            z-index: 2;
            transition: .5s ease-in-out; 
        }
    }

    .animation-hr{
        .static-img{
            left: 8% !important;
        }

        .move-img{
            left: 6% !important;
        }
    }

    #financial{
        .static-img{
            z-index: 2;
            left: 10%;
        }

        .move-before{
           max-width: 45%;
           bottom: 12%;
        }

        .move-after{
            max-width: 30%;
        }
    }

    .animation-financial{
        .btn{
            display: flex !important;
        }

        .static-img{
            left: 8% !important;
        }

        .move-before{
            left: 12%;
        }

        .move-after{
            right: 10%;
        }
    }
   }

   #transformation{
    padding-bottom: 3rem;

    .image-container{
        padding-top: 50%;

        .static-img{
            right: auto;
            left: 26%;
        }

        .move-img{
            max-width: 40%;
            right: 38%;
            top: 31%;
        }
    }

    .animation-transformation{
        .static-img{
            right: auto;
            left: 20%;
        }

        .move-img{
            right: 32%;
        }
    }
}
   }
   

   footer{
    .copyright{

        p{
            font-size: .75rem;
            padding: 0 1rem;
            text-align: center;
        }
    }
}
}

@media (max-width: 576px) {
    main{

        #about_us{
            padding: 0;

            .wrapper{
                display: flex;
                flex-direction: column-reverse;

                .image-container{
                    position: relative;
                    padding-top: 100%;
    
                    .static-img{
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        top: 0;
                    }
    
                    .before-img{
                        position: absolute;
                        left: calc(-9% + 2rem);
                        bottom: 0;
                        z-index: 1;
                        transition: .5s ease-in-out;
                    }
    
                    .after-img{
                        position: absolute;
                        left: calc(50% + 4rem);
                        top: calc(10% + 6rem);
                        z-index: 3;
                        transition: .5s ease-in-out;
                    }
                }
    
                .animation-about-us{
                    .before-img{
                        left: calc(-3% + 2rem);
                    }
    
                    .after-img{
                        left: calc(40% + 4rem);
                    }
                }

                .btn{
                    margin: 0 auto;
                }
            }
        }


        #clients{
            .wrapper{
                display: flex;
                flex-direction: column;

                .image-container{
                    width: 100%;
                    padding-top: 100%;
                    margin-bottom: 6rem;

                    .static-img{
                        max-width: 58%;
                    }

                    .planet-after{
                        max-width: 58%;
                        bottom: calc(-8rem);
                    }

                    .planets-before{
                        top: 22%;
                        left: 1%;
                    }
                }
            }
        }

        #services{

            .image-container{
                padding-top: 80%;
            }

            .service-box .content {
                min-height: 400px;
            }

            #marketing{
                .image-container{
                    .static-img{
                        z-index: 1;
                        left: -3%;
                    }
    
                    .move-img{
                        left: 30%;
                    }
                }
            }
    
            .animation-marketing{
                .static-img{
                    left: 0% !important;
                }
    
                .move-img{
                    left: 34% !important; 
                }
            }

            #writing{
                .image-container{
                    .static-img{
                        left: -3% !important;
                    }
    
                    .move-img{
                        max-width: 50%;
                        left: 17%;
                    }
                }
            }
    
            .animation-writing{
    
                .static-img{
                    left: 6%;
                }
    
                .move-img{
                    left: 36% !important;
                }
            }

            #seo{
                .static-img{
                    left: -2%;
                }

                .move-img{
                    max-width: 50%;
                }
            }

            .animation-seo{
                .static-img{
                    left: 4% !important;
                }
            }

            #web{
                .static-img{
                    left: -5%;
                }
    
                .move-img{
                    bottom: -14%;
                    right: 13%;
                }
            }
    
            .animation-web{
                .static-img{
                    left: 2% !important;
                }
    
                .move-img{
                    right: 20% !important;
                }
            }

            #hr-service{
                .static-img{
                    left: -4%;
                }
    
                .move-img{
                    position: absolute;
                    bottom: 11%;
                    left: 16%;
                    z-index: 2;
                    transition: .5s ease-in-out; 
                }
            }
    
            .animation-hr{
                .static-img{
                    left: 2% !important;
                }
    
                .move-img{
                    left: 0% !important;
                }
            }

            #financial{
                .static-img{
                    z-index: 2;
                    left: -3%;
                }
    
                .move-before{
                   max-width: 45%;
                   bottom: 12%;
                }
    
                .move-after{
                    max-width: 30%;
                }
            }
    
            .animation-financial{
                .btn{
                    display: flex !important;
                }
    
                .static-img{
                    left: 3% !important;
                }
    
                .move-before{
                    left: 12%;
                }
    
                .move-after{
                    right: 10%;
                }
            }
        }

        #transformation{
            padding-bottom: 3rem;

            .image-container{
                padding-top: 100%;

                .static-img{
                    right: auto;
                    left: 0;
                }

                .move-img{
                    max-width: 40%;
                    right: 38%;
                    top: 31%;
                }
            }

            .animation-transformation{
                .static-img{
                    right: auto;
                    left: -4%;
                }

                .move-img{
                    right: 32%;
                }
            }
        }

        #contact_us{
            .title-section{
                font-size: 2.5rem;
                margin-bottom: 1.5rem;
            }

            .wrapper{
                padding: 0 1.75rem;
                padding-bottom: 4rem;
            }

            p{
                padding: 0 1rem;
                text-align: left;
            }
        }
    }
}

@media (max-width: 320px) {

}