$navHover: #F56164;

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.active{
    a{
        color: #1A1AFF !important;
    }
}

.sticky-top{
    top: -1px !important;
}

body{
    font-family: Noto Sans Tamil, sans-serif;
    background: #EDE6DE;
    color: #2A3244;
    height: 100%;
}

.btn{
    outline: 0 !important;

    &:focus{
        outline: 0;
        color: #fff;
        box-shadow: initial;
    }
}


#sent{
    display: none;
}

// Modal 
  .custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: -3rem;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
  }
  
  @media screen and (min-width:800px){
      .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
      }
  }
  @media screen and (max-width:799px){
    .custom-model-inner{margin-top: 45px;}
  }


  .mobile-content{
      display: none;
  }

/*
Hamburger menu
*/

#nav-toggler{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    width: 24px;
    height: 14px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-toggler span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #1A1AFF;
    border-radius: 4rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-toggler span:nth-child(1) {
    top: 0px;
    width: 50%;
    right: 0;
    left: auto;
}
  
  #nav-toggler span:nth-child(2) {
    top: 7px;
  }
  
  #nav-toggler span:nth-child(3) {
    top: 14px;
    width: 50%;
    left: 0;
    right: auto;
  }
  
  #nav-toggler.open span:nth-child(1) {
    width: 100%;
    top: 5px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-toggler.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-toggler.open span:nth-child(3) {
    width: 100%;
    top: 5px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

img{
    max-width: 100%;
}

p{
    font-size: 1.125rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 206px;
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid #fff;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    max-width: 250px;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 48px;
}

.title-section{
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
}

.subtitle-section{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.24em;
    margin-bottom: 1rem;
}

.form-title{
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #fff;
}

#answer_login_form{
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
}

/*
Navigation buttons
*/

.navbar .navbar-nav{
    .nav-btn{
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 1.125rem;
        border: 1px solid #fff;
        padding: 10px 0;
        width: 120px;
        outline: none;
        box-shadow: none;
        text-align: center;
        cursor: pointer;
    
        &:focus{
            box-shadow: none;
        }
    }
}

/*
Contact form
*/

.contact-form{
    max-width: 500px;
    margin: 0 auto;

    .btn{
        display: block;        
        margin: 0 auto;
        margin-top: 3.5rem;
    }

    input, 
    textarea{
        background: transparent;
        border: 0;
        resize: none;
        color: #fff;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        outline: none;

        &:focus{    
            border-bottom: 2px solid #fff;
            box-shadow: none;
            background: transparent;
            color: #fff;
        }

        &::placeholder{
            font-size: 1.125rem;
            color: #fff;
            text-transform: uppercase;
        }
    }

    input{
        margin-top: 2.75rem;
    }

    textarea{
        margin-top: 6rem;
    }
}


.navbar{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
    height: 92px;
    padding: 0 6rem;

    .navigation{
        width: 40%;
    }

    .collapse{
        width: 60%;
    }

    .navbar-nav{
        justify-content: space-evenly;
        align-items: center;
        margin-left: auto;
        width: 100%;
    }

    .nav-link{
        font-size: 1.125rem;
        font-weight: 500;
        color: #000;
        outline: none;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &:hover{
            position: relative;
            color: #1A1AFF;
        }
    }
}

#header{
    position: relative;
    background-color: #1A1AFF;
    width: 100%;
    height: 114vh;
    overflow: hidden;

    .background-header{
        position: absolute;
        top: 0;
        left: 0;
        width: 1920px;
        height: 100vh;
        z-index: 3;
        object-fit: cover;
    }
    .header-man{
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        z-index: 4;
    }

    .image{
        text-align: center;
    }

    .content-header-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 5;
    }

    .title-header{
        margin: 0 auto;
        margin-bottom: .5rem;
        font-size: 4.5rem;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        color: #fff;
    }

    .subtitle-header{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        color: #fff;
        letter-spacing: 0.24em;
    }

    .content-header-bottom{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 5;

        .title-header{
            font-size: 4rem;
        }
    }

    .btn{
        background: #1A1AFF;
        color: #fff;
        border: 3px solid #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &:hover{
           
            background: #fff;
            color: #1A1AFF;
        }
    }
}

main{

    .wrapper{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    #about_us{
        position: relative;
        background: #fff;
        height: 1400px;

        .mount-image{
            position: absolute;
            top: -1px;
            left: 0;
            max-width: 100%;
        }

        .about-us-man{
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100%;
            z-index: 6;
        }

        .about-us-content{
            position: absolute;
            max-width: 700px;
            top: 80%;
            transform: translateY(-55%);
            right: calc(15% - 1rem);
            z-index: 6;

            .title-section, 
            .subtitle-section{ 
                color: #1A1AFF;
            }
        }
    }

    #strategy{
        background: #1A1AFF;
        padding: 12rem 0;
        color: #fff;

        .box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
            align-items: center;
            padding-bottom: 6rem;
        }

        .btn{
            background: #1A1AFF;
            color: #fff;
            border: 3px solid #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
    
            &:hover{
                background: #fff;
                color: #1A1AFF;
            }
        }
    }

    #planning{
        position: relative;
        background: #fff;
        min-height: 700px;
        max-width: 100%;
        height: 100%;
        padding: 8rem 0;

        .btn{
            margin: 0 auto;
            color: #fff;
            background: #1a1aff;

            &:hover{
                background: #1010C6;
            }
        }

        .title-section{
            color: #1A1AFF;
            text-align: center;
            margin-bottom: 2rem;
        }
        
        .box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
            align-items: center;

            .image{
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 500px;
                text-align: center;
            }
            .wrapper-box{
                position: relative;

                .content{
                    position: relative;
                    padding-left: 5rem;

                    &:before{
                        position: absolute;
                        left: -1rem;
                        top: -1.5rem;
                    }
                    
                    .box-title{
                        font-size: 2.25rem;
                        font-weight: 600;
                        color: #1A1AFF;
                    }
                }
            }

            &:nth-of-type(1){
                .wrapper-box{
                    .content{
                        &:before{
                            content: url(../img/one.svg);
                        }
                    }
                }
            }
            &:nth-of-type(2){
                .wrapper-box{
                    .content{
                        &:before{
                            content: url(../img/two.svg);
                        }
                    }
                }
            }
            &:nth-of-type(3){
                .wrapper-box{
                    .content{
                        &:before{
                            content: url(../img/three.svg);
                        }
                    }
                }
            }
            &:nth-of-type(4){
                .wrapper-box{
                    .content{
                        &:before{
                            content: url(../img/four.svg);
                        }
                    }
                }
            }
            &:nth-of-type(5){
                .wrapper-box{
                    .content{
                        &:before{
                            content: url(../img/five.svg);
                        }
                    }
                }
            }
        }
    }

    #our_goal{
        position: relative;
        background: #1A1AFF;
        height: 800px;

        .background-container{
            position: absolute;
            top: 0;
            left: 0;
            width: 1920px;
            height: 100%;
            z-index: 3;
            object-fit: cover;
        }

        .wrapper{
            z-index: 999;
        }

        .content{
            position: absolute;
            width: 100%;
            max-width: 930px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            z-index: 5;

            .title-section, .subtitle-section{
                text-align: center;
            }

            .title-section{
                font-size: 4.5rem;
                text-transform: uppercase;
            }

            .btn{
                background: #1A1AFF;
                color: #fff;
                border: 3px solid #fff;
                margin: 0 auto;
                margin-top: 4rem;
        
                &:hover{
                    background: #fff;
                    color: #1A1AFF;
                }
            }
        }
    }
}

#footer{
    background: #fff;
    color: #000;
    padding-top: 4rem;

    .title-section{
        text-transform: uppercase;
        text-align: center;
        font-size: 4.5rem;
        color: #1A1AFF;
    }

    .subtitle-section{
        text-align: center;
    }

    .form-group{
        margin-bottom: 1.5rem;
    }

    p{
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 2.75rem;
    }
    .wrapper{
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 4rem;

        .btn{
            margin: 0 auto;
            color: #fff;
            background: #1a1aff;

            &:hover{
                background: #1010C6;
            }
        }

        input, 
        textarea{
            font-family: 'IBM Plex Sans', sans-serif;
            background: transparent;
            font-weight: 500;
            border: 0;
            resize: none;
            color: #000;
            box-shadow: none;
            border: 2px solid #1A1AFF;
            border-radius: 50px;
            outline: none;

            &:focus{    
                border: 2px solid #1A1AFF;
                box-shadow: none;
                background: transparent;
                color: #000;
            }

            &::placeholder{
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 1rem;
                font-weight: 400;
                color: #000;
                text-transform: initial;
                font-weight: 600;
            }
        }

        input{
            height: 48px;
            margin-top: 0;
        }

        textarea{
            border-radius: 25px;
            margin: 0;
            height: 192px;
        }

        .support{
            color: #1A1AFF;
            margin: 0;
            margin-top: 2rem;
            font-size: 1.125rem;
            text-align: center;
            font-weight: 600;
        }
    }

    .copyright{
        padding: 4rem 0 4rem;
        height: auto;
        background: #1A1AFF;

        p{
            margin: 0 auto;
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1440px) {

    main #about_us .about-us-content {
        right: calc(6% - 1rem);
    }

    .navbar{
        padding: 0 1rem;

        .navigation{
            width: auto;
        }

        .collapse{
            width: auto;
        }
    }

    #strategy .wrapper,
    #planning .wrapper{
        padding: 0 6rem;
    }
}

@media (max-width: 1200px) {
    main #about_us{
        height: 1000px;
    }

    main #about_us .about-us-man{
        max-width: 47%;
    }
}

@media (max-width: 1024px) {
    main #about_us{
        height: 1400px;
    }


    .navbar .navbar-nav{
        flex-direction: column;
    }

    main #about_us .about-us-man{
        max-width: 100%;
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .navbar{
        .navigation{
            width: auto;

            .navbar-brand{
                img{
                    max-width: 80%;
                }
            }
        }

        .collapse{
            width: auto;
        }
    }

    .navbar .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 92px;
        left: 0;
        padding-bottom: 1rem;
        background: #fff;
    }

    #header{
        background-position: center;
        padding: 0 1rem;

        .header-man{
            top: 44%;
            max-width: 70%;
        }

        .content-header-center,
        .content-header-bottom{
            padding: 0 1rem;
        }

        .content-header-center{
            top: 44%;

            .title-header{
                font-size: 3rem;
            }
        }

        .content-header-bottom{
            .title-header{
                font-size: 2rem;
                text-align: center;
            }

            .subtitle-header{
                font-size: 1rem;
                text-align: center;
            }
        }
    }

    #nav-toggler{
        display: block;
    }

    .navbar{
        padding: 0 1.5rem;

        .collapse{
            width: 100%;
            background: #fff;
        }

        .navbar-nav{
            .btn-login{
                margin-bottom: .5rem;
            }
        }
    }

    main{

        #about_us{
            .about-us-content{
                max-width: 800px;
                width: 100%;
                top: calc(30% + 4rem);
                left: 50%;
                transform: translateX(-50%);
            }
            .about-us-man {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                right: auto;
                max-width: 60%;
                z-index: 6;
            }
        }

        #strategy{

            #manager{
                .image{
                    margin-top: 4rem;
                }
            }

            .box{
                grid-template-columns: 1fr;
                gap: 2rem;

                &:nth-of-type(2){
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            .image{
                text-align: center;
            }
        }

        #planning{
            padding: 4rem 0;

            .title-section{
                font-size: 2rem;
                margin-bottom: 4rem;
            }

            .box{
                display: flex;
                flex-direction: column;
                margin-bottom: 6rem;

                .wrapper-box{
                    .content{
                        .box-title{
                            font-size: 1.5rem;
                        }

                        p{
                            font-size: .875rem;
                        }

                        &:before{
                            transform: scale(.8);
                        }
                    }
                }

                &:nth-of-type(even){
                    flex-direction: column-reverse;
                }

                .image{
                    min-height: auto;
                }
            }
        }

        #our_goal{
            .content{
                padding: 0 2rem;
            }
        }
    }

    
    #footer{
        .title-section{
            text-align: center;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }

        p{
            font-size: 1.125rem;
            padding: 0 1.75rem;
            text-align: center;
        }

        .wrapper{
            padding: 0 1.75rem;
            padding-bottom: 4rem;
        }

        .copyright{
            p{
                padding: 0 1.75rem;
            }
        }
    }
}



@media (max-width: 768px) {
    main #about_us {
        height: 1200px;
    }

    main #about_us .about-us-content{
        max-width: 600px;
    }

    #strategy .wrapper,
    #planning .wrapper{
        padding: 0 3rem;
    }
    #footer{
        .title-section,
        .subtitle-section{
            padding: 0 3rem;
        }
    }
}    

@media (max-width: 576px) {


    .mobile-content{
        display: block;
    }

    .desktop-content{
        display: none;
    }


    #manager{
        .image{
            max-width: 86%;
        }
    }

    #business{
        .image{
            max-width: 80%;
        }
    }
    #footer .wrapper .btn {
        margin-top: 1.5rem;
    }
    .contact-form input {
        margin-top: 1.75rem;

        &::placeholder{
            font-size: 1rem;
        }
    }

    #footer .wrapper input {
        margin-top: 1rem;
    }

    #footer .wrapper textarea {
        margin-top: 2rem;
    }

    #header{
        height: 120vh;

        .header-man {
            top: 30%;
            max-width: 84%;
        }

        .content-header-center{
            top: 40%;

            .title-header{
                font-size: 1.75rem;
            }
            .subtitle-header{
                font-size: 1rem;
            }
        }

        .content-header-bottom{
            .title-header{
                font-size: 1.75rem;
            }
            .subtitle-header{
                font-size: 1rem;
            }
        }
    }

    .subtitle-section {
        font-size: 1rem;
    }
    
    .title-section {
        font-size: 1.5rem;
    }

    main{
        #about_us{
            overflow-x: hidden;
            height: 1000px;
            
            .mount-image {
                left: 50%;
                transform: translateX(-50%);
                max-width: 200%;
            }

            .title-section{
                font-size: 2.2rem;
            }

            .about-us-content{
                top: 32%;
                left: 1rem;
                transform: initial;

                p{
                    padding-right: 1rem;
                }
            }
            .about-us-man {
                bottom: 0;
                left: 44%;
                transform: translateX(-50%);
                right: auto;
                max-width: 100%;
                z-index: 6;
            }
        }

        #strategy{
            padding: 4rem 0 6rem 0;

            .wrapper{
                padding: 0 1.5rem;
            }
            
            .box{
                margin-bottom: 2rem;
            }

            #manager{
                margin-bottom: 0;
            }
        }

        #planning .wrapper{
            padding: 0 1.5rem;
        }

        #planning .box .wrapper-box .content {
            padding-left: 3.5rem;

            &:before{
                transform: scale(.5);
                top: -2rem;
            }
        }

         #our_goal .content .title-section {
            font-size: 2.5rem;
        }

        #our_goal{
            height: 650px;
            .content {
                padding: 0 1.5rem;
            }
        }
    }

    #nav-toggler{
        display: block;
    }

    .navbar{
        padding: 0 1.5rem;

        .collapse{
            width: 100%;
            background: #fff;
        }

        .navbar-nav{
            .btn-login{
                margin-bottom: .5rem;
            }
        }
    }
    
    #footer{
        .title-section{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        .wrapper{
            padding: 0 1.75rem;
            padding-bottom: 4rem;
        }

        p{
            padding: 0 1.5rem;
            text-align: left;
        }
        .copyright{
            padding: 2rem 0;

            p{
                font-size: .75rem;
                padding: 0 1rem;
                text-align: center;
            }
        }
    }
}
