<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="navigation">
            <a class="navbar-brand" href="#hero"><img src="assets/img/logo.png" alt="Elevate" class="logo"></a>

            <div id="nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#hero">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mission">Mission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#company">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact_us">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" href="#form">Work with us</a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="hero">
        <div class="wrapper">
            <div class="header-wrap">
                <h1 class="title">Your digital<br> <span>storyteller</span></h1>
                <p>We provide a full range of digital marketing services to clients all over the world. From web design
                    and development, social media research, and content creation, we’ve got you covered.</p>
                <a href="#services" class="btn">Work with us</a>
            </div>

            <div class="quote-boxes">
                <div class="box" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <h3 class="quote">“We create exciting and<br> inspiring digital stories”</h3>
                    <span class="position">-CEO, {{brand_name}} </span>
                </div>
                <div class="box" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <h3 class="quote">“We help you grow,<br> minimize costs, and<br> improve efficiency.”</h3>
                    <span class="position">-Team {{brand_name}} </span>
                </div>
            </div>
            <img src="assets/img/hero_img.png" alt="">
        </div>
    </header>

    <main>
        <section id="services">
            <div class="wrapper">
                <h2 class="title-section">How can we help you?</h2>
                <div class="row-service service-seo">
                    <div class="content">
                        <h3 class="title-service">SEO & SEM</h3>
                        <p>Reach your target audience, maximize your site’s organic and paid reach on search engines
                            such as Google and Bing, and drive traffic to your website with a data-driven SEO & SEM
                            strategy</p>
                        <a href="#mission" class="btn">Learn more</a>
                    </div>

                    <figure>
                        <img src="assets/img/services_img1.png" alt="">

                        <div class="quote-boxes">
                            <div class="box" data-aos="fade-up"
                            data-aos-anchor-placement="center-bottom">
                                <h3 class="quote">“SEO is the art and science of persuading search engines to recommend
                                    your content.”</h3>
                            </div>
                            <div class="box" data-aos="fade-up"
                            data-aos-anchor-placement="center-bottom">
                                <h3 class="quote">“Search Engine Marketing is critically important to your online
                                    business.”</h3>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>

            <div class="bg-light-green">
                <div class="wrapper">
                    <div class="row-service service-social-media">
                        <figure>
                            <img src="assets/img/services_img2.png" alt="">
                        </figure>
                        <div class="content">
                            <h3 class="title-service">Social Media</h3>
                            <p>Let us help you plan, implement, and deliver social media marketing strategies so you can
                                grow your business, increase your online visibility, and build relationships with new
                                and existing clients.</p>
                            <a href="#mission" class="btn">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="row-service service-content">
                    <div class="content">
                        <h3 class="title-service">Content</h3>
                        <p>We can help you plan your content, find out what your audience demands through keyword and
                            competitor research, and create unique and compelling content that supports your SEO
                            strategy.</p>
                        <a href="#mission" class="btn">Learn more</a>
                    </div>

                    <figure>
                        <img src="assets/img/services_img3.png" alt="">

                        <div class="quote-boxes">
                            <div class="box" data-aos="fade-up-left">
                                <h3 class="quote">“Content is anything that adds value to the reader’s life.”</h3>
                            </div>
                            <div class="box" data-aos="fade-up-right">
                                <h3 class="quote">“Content is the atomic particle of all digital marketing.”</h3>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </section>

        <section id="mission">
            <div class="wrapper">
                <h2 class="title-section">Our mission</h2>

                <div class="row-boxes">
                    <div class="box-column-left">
                        <div class="box" data-aos="flip-left" data-aos-easing="linear"
                        data-aos-duration="300" data-aos-delay="250">
                            <img src="assets/img/icons/mission_icon2.svg" alt="">
                            <h3 class="title-box">Business growth</h3>
                            <p>To use tried and tested digital marketing methods to accelerate your business growth and
                                improve your profit margin and revenue.</p>
                        </div>
                    </div>
                    <div class="box-column-right">
                        <div class="box" data-aos="flip-right" data-aos-easing="linear"
                        data-aos-duration="300" data-aos-delay="50">
                            <img src="assets/img/icons/mission_icon1.svg" alt="">
                            <h3 class="title-box">Brand awareness</h3>
                            <p>We will build relationships and share your company values with fresh and original content
                                personalized to your brand and target audience.</p>
                        </div>
                        <div class="box mobile-box" data-aos="flip-left" data-aos-easing="linear"
                        data-aos-duration="300" data-aos-delay="150">
                            <img src="assets/img/icons/mission_icon2.svg" alt="">
                            <h3 class="title-box">Business growth</h3>
                            <p>To use tried and tested digital marketing methods to accelerate your business growth and
                                improve your profit margin and revenue.</p>
                        </div>
                        <div class="box" data-aos="flip-right" data-aos-easing="linear"
                        data-aos-duration="300" data-aos-delay="250">
                            <img src="assets/img/icons/mission_icon3.svg" alt="">
                            <h3 class="title-box">Return on investment</h3>
                            <p>We promise to use expertly delivered digital marketing solutions that will meaningfully
                                increase your return on investment (ROI). </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="company" class="bg-light-green">
            <div class="wrapper">
                <figure>
                    <img src="assets/img/company_img.png" alt="">
                </figure>

                <div class="content">
                    <h2 class="title-section">Get to know <br>{{brand_name}}</h2>
                    <p>{{brand_name}} is a group of forward-thinking, highly skilled individuals who share a common love
                        for digital marketing. With a long-standing track record in our field, we’ve been serving a
                        diverse clientele around the world for more than a decade to reach their marketing
                        goals.<br><br>

                        We constantly strive to update our expertise and services to meet and exceed your exact needs.
                        From ecommerce, web design, app development and search engine marketing we always offer the
                        right advice to help you expand, cut costs, reduce risk, and grow your business.<br><br>

                        Our friendly team is here for you and always committed to delivering excellent results for every
                        single one of our clients. We love what we do and keep working on improving our skills to ensure
                        that we maintain an up-to-date knowledge and a competitive service. </p>

                    <a href="#mission" class="btn">Get in touch</a>
                </div>
            </div>
        </section>

        <section id="contact_us">
            <figure class="img1">
                <img src="assets/img/contact_form_subtract2.png" alt="" class="bottom-left">
            </figure>
            <div id="form" class="row-wrap">
                <h2 class="title-section">Tell us about<br> your project</h2>
                <form name="contactForm form" method="post" class="contact-form">
                    <div id="sent" class="custom-model-main model-open">
                        <div class="custom-model-inner">
                            <div class="close-btn">×</div>
                            <div class="custom-model-wrap">
                                <div class="pop-up-content-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="bg-overlay"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" pattern="[^ @]*@[^ @]*" id="mail" name="еmail" required
                            placeholder="Email Address">
                        <span id="resultEmail"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="subject" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Message"></textarea>
                    </div>
                    <button class="btn" type="submit" name="submit" value="send" id="submit_btn">Send</button>
                </form>
            </div>
            <figure class="img2">
                <img src="assets/img/contact_form_subtract1.png" alt="" class="top-right">
            </figure>
        </section>
    </main>

    <footer>
        <div class="wrapper">
            <p>Copyright ©Elevate <span id="current-year"></span>. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"
        integrity="sha512-3fMsI1vtU2e/tVxZORSEeuMhXnT9By80xlmXlsOku7hNwZSHJjwcOBpmy+uu+fyWwGCLkMvdVbHkeoXdAzBv+w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
        // AJAX mail handle
        const NAME_INPUT = document.querySelector('#name')
        const MAIL_INPUT = document.querySelector('#mail')
        const SUBJECT_INPUT = document.querySelector('#subject')
        const MESSAGE_INPUT = document.querySelector('#message')
        const BTN_SUBMIT = document.querySelector('#submit_btn')

        BTN_SUBMIT.addEventListener('click', event => {
            event.preventDefault()
            let nameInputValue = NAME_INPUT.value;
            let mailInputValue = MAIL_INPUT.value;
            let subjectInputValue = SUBJECT_INPUT.value;
            let messageInputValue = MESSAGE_INPUT.value;

            let $resultEmail = $("#resultEmail");
            let $mail = $("#mail");
            let $resultMessage = $("#message");
            let $sentMail = $("#sent");
            let $sentMailText = $("#sent .pop-up-content-wrap");
            function validateEmail(mailInputValue) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(mailInputValue);
            }
            if (validateEmail(mailInputValue) && messageInputValue !== '') {

                $.ajax({
                    type: 'POST',
                    url: 'send_mail.php',
                    data: {
                        name: nameInputValue,
                        email: mailInputValue,
                        subject: subjectInputValue,
                        message: messageInputValue,
                    },
                    success() {
                        NAME_INPUT.value = ''
                        MAIL_INPUT.value = ''
                        SUBJECT_INPUT.value = ''
                        MESSAGE_INPUT.value = ''
                    },
                    error(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                    },
                    complete() {
                        console.log('Mail sent.');
                        $resultEmail.text(" *Email is required").css("display", "none");
                        $resultEmail.css("color", "red");
                        $mail.css({ "border": "2px solid #1A1AFF" });
                        $resultMessage.css({ "border": "2px solid #1A1AFF" });
                        $sentMail.css({ "display": "block" });
                        $sentMailText.html("Dear" + " " + "<b>" + NAME_INPUT.value + "</b>" + ", your mail was successfully submitted, our team will contact you shortly.");
                    },
                });
            }
            else {
                $resultEmail.text(" *Email is required");
                $resultEmail.css("color", "red");
                $resultMessage.css({ "border": "2px solid red" });
            }
        });
    </script>
</body>

</html>