@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: transparent;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

figure{
  margin: 0;
}

.nav-bg{
  background: #fff !important;
}

.active{
  .nav-link{
    font-style: italic;

    &:after{
      left: 0;
      width: 100% !important;
    }
  }
}

.sticky-top {
  position: fixed;
  top: -1px !important;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: #383838;
}

.btn {
  outline: 0 !important;

  &:focus {
    outline: 0;
    color: #fff;
    box-shadow: initial;
  }
}

img {
  max-width: 100%;
}

#sent {
  display: none;
}

// Modal
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-model-wrap {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
.model-open .custom-model-inner {
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -3rem;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .custom-model-main:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0px;
    height: 100%;
  }
}
@media screen and (max-width: 799px) {
  .custom-model-inner {
    margin-top: 45px;
  }
}

.mobile-content {
  display: none;
}

/*
Hamburger menu
*/

#nav-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  width: 24px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 4rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-toggler span:nth-child(1) {
  top: 0px;
  width: 100%;
  right: 0;
  left: auto;
}

#nav-toggler span:nth-child(2) {
  top: 7px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
}

#nav-toggler span:nth-child(3) {
  top: 14px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
}

#nav-toggler.open span:nth-child(1) {
  width: 100%;
  top: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-toggler.open span:nth-child(2) {
  opacity: 0;
  left: 0;
  right: -60px;
  display: none;
}

#nav-toggler.open span:nth-child(3) {
  width: 100%;
  left: 0;
  top: 5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(50.02deg, #FF6B07 -13.58%, #FF9C58 76.44%);
  border-radius: 4px;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  width: auto;
  font-size: 1.125rem;
  font-weight: 600;
  max-width: 200px;
  width: auto;
  height: 56px;
  padding: 0.5rem 1rem;
  padding-right: 3.5rem;
  outline: none;
  box-shadow: none;
  transition: all .2s ease-in-out;

  &::before{
    position: absolute;
    content: url(../img/icons/arrow-right-white.svg);
    right: 1.3rem;
    top: 55%;
    transform: translateY(-50%);
  }

  &:hover{
    background: #000;
    color: #fff;
  }

  &:active{
    background: #fff;
    color: #000;

    &:before{
      content: url(../img/icons/arrow-right-black.svg);
    }
  }
}

.title, .title-section {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: capitalize;  

  span{
    font-weight: 300;
  }
}

.title-section{
  margin: 0;
  margin-bottom: .875rem;

  span{
    position: relative;
    
    &::before{
      position: absolute;
      content: '';
      left: 0;
      bottom: 15px;
      background: linear-gradient(50.02deg, #FF6B07 -13.58%, #FF9C58 76.44%);
      height: 15px;
      width: 0;
      z-index: -1;
      transition: all .2s ease-in-out;
    }
  }
}

.title-animated{
  span{
    &:before{
      width: 100%;
      right: 0;
    }
  }
}

.subtitle {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.title-box{
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5rem 0;
  color: #fff;
}

#answer_login_form {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background: transparent;
  height: 98px;
  padding: 0 14rem;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 999;
  transition-timing-function: ease-in-out;

  .navigation {
    width: 14%;
  }

  .collapse {
    width: 88%;
  }

  .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
  }

  .nav-link {
    position: relative;
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: capitalize;
    color: #000;
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:after{
      position: absolute;
      content: '';
      left: 0;
      width: 0;
      bottom: 7px;
      height: 2px;
      background: #000;
      font-style: italic;
      z-index: 2;
      transition: all .2s ease-in-out;
    }

    &:hover {
      font-style: italic;

      &:after{
        left: 0;
        width: 100%;
      }
    }
  }
}

section{
    text-align: center;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
  position: relative;
  height: 100vh;
  margin-bottom: 12rem;

  .navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
  }

  .mobile-img{
    display: none;
  }

  .subtitle{
    position: relative;
    font-size: 2.5rem;
    max-width: 400px;

    &::before{
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      width: 150px;
      height: 1px;
      background: #fff;
    }
  }

  .content{
    color: #fff !important;
    width: 100%;
    padding-top: 20%;
    padding-left: 14rem;
    z-index: 999;

    .btn{
      background: transparent;
      border: 2px solid #fff;
    }
  }

  .hero-wrap{
    height: 100vh;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      object-fit: cover;
      z-index: -1;
    }
  }
}

main {
  .title-mobile{
    display: none;
  }

  .title-box{
    color: #000;
    font-size: 2rem;
    font-weight: 600;
  }

  figure{
    position: relative;

    .substract-right{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;
    }

    .substract-left{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 1;
    }

    .image{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 2;
      transition: .4s ease-in-out;
    }

    .animated-image{
      top: 53%;
      left: -1rem;
    }
  }

  #what_we_do{
    margin-bottom: 4rem;

    .wrapper{
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 2rem;

      .title-section{
        text-align: center;
        margin-bottom: 4rem;

        span:before{
          bottom: 20px;
        }
      }

      .boxes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6rem;
        
        .title-box{
          margin: 1.5rem 0;
        }
      }
    }
  }

  #our_story{
    height: 100vh;
    margin-bottom: 10rem;

    .mobile-btn{
      display: none;
    }

    .title-section{
      text-align: left;
      margin-bottom: 1.5rem;
    }

    .wrapper{
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      align-items: center;
      max-width: 1800px;
      padding: 0;
      margin: 0;
      margin-left: auto;
      padding-left: 7rem;

      figure{
        padding-top: 140%;
      }
    }

    .row-box{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      justify-items: flex-start;

      &:first-of-type{
        position: relative;
        margin-bottom: 6rem;
        margin-top: 4rem;

        &::before{
          position: absolute;
          content: '';
          top: calc(30% + 1rem);
          left: calc(30% + 5rem);
          height: 250px;
          width: 1px;
          background: #4B4D52;
        }

        &::after{
          position: absolute;
          content: '';
          top: calc(50% + 7rem);
          left: calc(23% + 1.5rem);
          height: 1px;
          width: 250px;
          background: #4B4D52;
        }
      }

      .box{
        .number{
          display: block;
          text-align: left;
          font-size: 4.5rem;
          line-height: 3.5rem;
          font-weight: 600;
        }

        .orange{
          color: #FF8330;
        }

        .green{
          color: #51C488;
        }

        .purple{
          color: #6D2EF3;
        }

        .blue{
          color: #22B4F9;
        }

        .title-counter{
          display: block;
          font-size: 2.25rem;
          font-weight: 400;
          color: #383838;
          text-transform: capitalize;
        }
      }
    }
  }

  #promise{
    margin-bottom: 4rem;

    .wrapper{
      max-width: 1550px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    .title-section{
      margin-bottom: 3rem;
    }

    .boxes{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6rem 1rem;

      .box{
        display: flex;
        flex-direction: row;
        align-items: center;

        .content-box{
          text-align: left;
          margin-left: 1rem;
          max-width: 430px;
        }
      }
    }
  }

  #about_us{
    height: 110vh;
    margin-bottom: 20rem;

    .wrapper{
      display: grid;
      grid-template-columns: 1.25fr 1fr;
      grid-gap: 8rem;
      align-items: center;
      max-width: 1800px;
      padding: 0;
      margin: 0;
      margin-right: auto;
      padding-right: 7rem;
    }

    figure{
      padding-top: 140%;

      .image{
        left: initial;
        right: 0;
      }

      .animated-image{
        right: -1rem !important;
      }
    }

    .content{
      text-align: left;
    }
  }

  #contact_us {
      text-align: center;
      color: #000;
      margin-bottom: 20rem;

    .title-section{
      text-align: left;
      margin-bottom: 3rem;
      max-width: 75%;

      span{
        display: block;
      }
    }

    .contact-form {
      margin: initial;
      margin-top: 1.5rem;
      max-width: 700px;
      width: 100%;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .row-wrap {
     max-width: 1800px;
     display: grid;
     grid-template-columns: 1fr 1.15fr;
     grid-gap: 10rem;
     align-items: center;
     margin-top: 2rem;
     position: relative;
     text-align: center;
     border-radius: 24px;
     margin: 0;
     margin-left: auto;
     padding: 0;
     padding-left: 7rem;

     .contact-form{
       justify-self: flex-end;
     }

      input,
      textarea {
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        font-size: .875rem;
        color: #383838;
        font-weight: 400;
        outline: none;
        box-shadow: none;
        z-index: 9999;

        &::placeholder {
          font-size: .875rem;
          font-weight: 400;
          color: #383838;
          text-transform: initial;
        }
      }

      input {
        height: 60px;
        margin-top: 0;
      }

      textarea {
        margin: 0;
        height: 168px;
        resize: none;
      }

      figure{
        padding-top: 50%;
      }

      .btn {
        margin: initial;
        min-width: 150px;
      }
    }
  }
}

footer {
  position: relative;
  background: #1C1007;
  color: #fff;
  padding: 3.5rem 0 3.5rem;
  padding-top: 4rem;
  height: auto;

  .wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      align-items: center;
  }

  .footer-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .nav-link{
          font-size: 1.125rem;
          font-weight: 400;
          color: #fff;
      }
  }
  
  .mobile{
    display: none;
  }

  p {
    font-weight: 500;
    font-size: 0.875rem;
    text-align: left;
    color: #fff;
    margin-top: 3rem;
  }
}

@media  screen and (max-width: 1800px), screen and(max-height: 860px) {
}

@media (max-width: 1700px) {
  .navbar{
    padding: 0 10rem;

    .navbar-nav {
      width: 80%;
    }
  }

  header{
    margin-bottom: 6rem;
  }

  main #contact_us .title-section {
    max-width: 90%;
  }
}

@media (max-width: 1440px) {
  .navbar{
    padding: 0 4rem;

    .navbar-nav{
      width: 60%;
    }
  }

  section{
    margin-bottom: 8rem;
  }

  .wrapper{
    padding: 0 4rem;
  }

  header{
    margin-bottom: 6rem;
    
    .content{
      padding-left: 4rem;
    }

    .hero-wrap{
      img{
        height: 107%;
      }
    }
  }

  main{
    #what_we_do{
      .wrapper{
        margin-bottom: 6rem;
      }
    }

    #what_we_do, #promise{
      .wrapper{
        padding: 0 4rem;
      }
    }

    figure{
      .image{
        max-width: 80%;
      }
    }

    #our_story, #contact_us{
      .wrapper{
        padding-left: 4rem;
      }
    }

    #our_story{
      margin-bottom: 4rem;

      .wrapper{
        grid-gap: 4rem;
      }
    }

    #about_us{
      margin-bottom: 8rem;

      .wrapper{
        padding-right: 4rem;
        grid-gap: 4rem;
      }
    }

    #contact_us{
      margin-bottom: 10rem;

      .title-section{
        max-width: 96%;
      }

      .row-wrap{
        grid-gap: 4rem;
      }
    }
  }

  footer .wrapper{
    grid-template-columns: .75fr 1.5fr;
  }
}

@media (max-width: 1400px) {
  .title, .title-section{
    font-size: 3.5rem;
  }

  .navbar{
    .navbar-nav{
      width: 75%;
    }
  }

  main{
    #our_story{
      height: 90vh;
      margin-bottom: 0;

      .row-box:first-of-type::after {
        top: calc(50% + 7rem);
        left: calc(23% + 1.5rem);
      }

      .row-box:first-of-type::before {
        left: calc(34% + 5rem);
      }

      .row-box{
        .box{
          .title-counter{
            font-size: 1.75rem;
          }
        }
      }
    }

    #about_us{
      height: 100vh;
      margin-bottom: 4rem;
    }
  }

  footer .wrapper {
    grid-template-columns: .5fr 1.5fr;
    padding: 0 2rem;
  }
}

@media (max-width: 1250px) {
  .navbar{
    padding: 0 2rem;
  }

  header{
    margin-bottom: 4rem;

    .content{
      padding-top: 25%;
    }
  }

  main{
    #what_we_do, #promise{
      .wrapper{
        padding: 0 2rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .active{
    .nav-link:after{
      width: 20% !important;
    }
  }

  .navbar {
    background: #fff;
    height: 70px;
    padding: 0 3rem;

    .collapse {
      width: auto;
      background: #fff;
    }

    .nav-link {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: left;
      color: #000;
    }

    .navigation {
      width: auto;

      .navbar-brand {
        img {
          max-width: 80%;
        }
      }
    }

    .navbar-collapse {
      position: absolute;
      width: 60%;
      top: 69px;
      height: 100vh;
      right: 0;
      padding-bottom: 1rem;
      background: #fff;
    }

    .navbar-nav {
      position: relative;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      .nav-item{
        width: 80%;
        text-align: left;
      }
    }
  }

  .collapse:not(.show) {
    display: none !important;
  }

  #nav-toggler {
    display: block;
    right: 3rem;
  }

  header{
    margin-bottom: 2rem;

    .hero-wrap img {
      height: 100%;
    }

    .desktop-img{
      display: none;
    }

    .mobile-img{
      display: block;
    }

    .content{
      padding-top: 90%;
    }
  }

  main{
    .title-box{
      font-size: 1.125rem;
    }

    .icon{
      max-width: 50%;
    }

    .title-desktop{
      display: none;
    }

    .title-mobile{
      display: block;
      text-align: center !important;
    }

    figure{
      .image{
        left: 10%;
        max-width: 50%;
      }

      .substract-right, .substract-left{
        max-width: 60%;
      }

      .animated-image{
        left: 18%;
        top: 49%;
      }
    }

    #what_we_do{
      .wrapper{
        .boxes{
          grid-gap: 3rem;
        }
      }
    }

    #our_story{
      height: auto;

      .row-box:first-of-type::after {
        top: calc(50% + 7rem);
        left: calc(33% + 1.5rem);
      }

      .row-box:first-of-type::before {
        left: calc(40% + 5rem);
      }

      .wrapper{
        grid-template-columns: auto;
        padding: 0;
        grid-gap: 0;

        .content{
          padding: 0 2rem;
          margin-bottom: 3rem;
          
          .title-section{
            text-align: center;
          }

          .btn{
            margin: 0 auto;
          }
        }

        .row-box{
          justify-items: center;
        }

        figure{
          padding-top: 90%;
        }
      }
    }

    #promise{
      margin-bottom: 8rem;
    }

    #about_us{
      height: auto;
      margin-bottom: 6rem;

      .wrapper{
        grid-template-columns: auto;
        grid-gap: 0;
        padding: 0;
      }

      .content{
        padding: 0 2rem;
      }

      figure{
        padding-top: 85%;

        .image{
          right: 10%;
        }

        .animated-image{
          right: 18% !important;
        }
      }
    }

    #contact_us{
      .title-section{
        span{
          display: inline-block;
        }
      }

      .row-wrap{
        grid-template-columns: auto;
        grid-gap: 0;
        padding: 0;

        .contact-form{
          justify-self: center;
          margin-bottom: 2rem;
        }

        figure{
          padding-top: 70%;
        }
      }
    }
  }

  footer{
    .footer-nav{
      justify-content: space-between;
      margin: 1rem 0;

      .nav-link{
        padding-left: 0;
      }
    }

    .wrapper{
      grid-template-columns: auto;

      p{
        margin-top: 1.25rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;

    .nav-link{
      font-size: 1.5rem;
    }
  }

  .collapse {
    display: flex;
  }

  #nav-toggler {
    right: 2rem;
  }

  .title-section{
    font-size: 2.25rem;
  }

  section{
    margin-bottom: 6rem;
  }

  header{
    .subtitle {
      max-width: 365px;
    }
    .content{
      padding-left: 2rem;
    }
  }

  main{
    .title-section span::before{
      height: 7px;
      bottom: 10px;
    }

    #what_we_do{
      .wrapper .title-section span:before {
        bottom: 10px;
      }
    }

    #our_story{
      .row-box:first-of-type::after {
        left: calc(31% + 1.5rem);
      }
    }

    #about_us{
      margin-bottom: 4rem;
    }

    #contact_us{
      margin-bottom: 6rem;
      .title-section{
        margin-bottom: .5rem;
      }
    }
  }

  footer {
    padding: 2rem 0 2rem;

    .wrapper{
      grid-template-columns: auto;
      text-align: left;

      p{
        text-align: left;
        margin-top: .5rem;
      }
    }

    .desktop{
      display: none;
    }

    .mobile{
      display: flex;
      justify-content: flex-start;
      margin: .5rem 0;
      
      .nav-link:first-of-type{
        padding-left: 0;
      }
    }

    .footer-nav{
      .nav-link{
        font-size: .875rem;
      }
    }
  }
}

@media (max-width: 576px) {
  #nav-toggler {
    display: block;
  }

  .navbar .navigation .navbar-brand img {
    max-width: 60%;
  }

  .navbar {
    height: 70px;
    padding: 0 1.125rem;
    z-index: 99999;

    .nav-link{
      font-size: 1.25rem;
    }

    .navbar-nav {
      position: relative;
      justify-content: center;
      height: 100%;
      align-items: flex-start;
      margin-left: 1.5rem;
      margin-bottom: 4rem;

      &::after{
        max-width: 80%;
      }
    }
  }

  #nav-toggler {
    right: 1.125rem;
  }
  
  .wrapper{
    padding: 0 1.125rem;
  }
  
  section{
    margin-bottom: 4rem;
  }

  .btn{
    height: 45px;
  }

  .title{
    font-size: 2rem;
  }

  .title-section{
    font-size: 2rem;
    margin-bottom: .5rem;
    text-align: center;
  }

  .title-box{
    font-size: 1.125rem;
  }

  p{
    font-size: .875rem !important;
    font-weight: 300 !important;
    margin: 0;
  }

  header{
    height: 70vh;
    margin-bottom: 3rem;

    img{
      padding-top: 3rem;
    }
    
    .subtitle{
      max-width: 170px;
      font-size: 1.125rem;

      &:before{
        width: 65px;
      }
    }

    .content{
      padding-top: 100%;
      padding-left: 1.125rem;
    }
  }

  main{
    figure{
      .image{
        left: 10%;
        max-width: 70%;
      }

      .substract-right, .substract-left{
        max-width: 80%;
      }

      .animated-image{
        top: 42%;
      }
    }

    .title-box{
      font-size: 1.125rem;
    }

    .icon{
      max-width: 64px;
    }

    #what_we_do{
      .wrapper{
        padding: 0 1.125rem;

        .title-section{
          margin-bottom: 2rem;
        }

        .boxes{
          grid-template-columns: auto;
          grid-gap: 1.5rem;

          .title-box{
            margin: .625rem 0;
          }
        }
      }
    }

    #our_story{
      margin-bottom: 2rem;

      .title-section{
        margin-bottom: 2rem;
      }

      .desktop-btn{
        display: none;
      }

      .mobile-btn{
        display: block;
        margin-top: 1.25rem !important;
      }

      .wrapper{
        .content{
          padding: 0 1.125rem;
          order: 2;
        }

        figure{
          padding-top: 100%;
          order: 1;
        }
      }

      .row-box{
        grid-template-columns: auto;
        grid-gap: 0;

        .box{
          margin-bottom: 2rem;

          .number{
            font-size: 2.5rem;
            text-align: center;
          }

          .title-counter{
            font-size: 1.5rem;
          }
        }

        &:last-of-type{
          .box:last-of-type{
            margin-bottom: 0;
          }
        }
      }

      .row-box:first-of-type{
        margin: 0;
      }

      .row-box:first-of-type::before,
      .row-box:first-of-type::after {
        display: none;
      }
    }

    #promise{
      margin-bottom: 6rem;

      .title-section{
        margin-bottom: 2rem;
      }

      p{
        margin: 0;
      }

      .wrapper{
        padding: 0 1.125rem;
      }

      .boxes{
        grid-template-columns: auto;
        grid-gap: 1.5rem;

        .box{
          flex-direction: column;

          .content-box{
            margin: 0;
            text-align: center;
          }
        }
      }
    }

    #about_us{
      .title-section{
        margin-bottom: 1.5rem;
      }

      figure {
        padding-top: 100%;
        margin-bottom: 3rem;

        .animated-image {
          right: 10% !important;
        }
      }

      .content{
        padding: 0 1.125rem;
      }
    }

    #contact_us{
      padding: 0 1.125rem;
      margin-bottom: 3.5rem;
      
      .title-section{
        text-align: center;
        margin-bottom: 3rem;
        max-width: 100%;
      }

      .row-wrap{
        margin-top: 3rem;

        .contact-form{
          margin-top: -1.25rem;
        }

        figure {
          padding-top: 100%;
        }
      }
    }
  }

  footer {
    padding: 1rem 0;

    img{
      margin: 0;
    }

    .wrapper{
      padding: 0 1.125rem;

      .content{ 
        img{
          max-width: 40%;
        }
      }
    }

    img{
       margin: 0;
       margin-bottom: 1rem;
    }

    .footer-nav{
      flex-wrap: wrap;
      max-width: 80%;

      .nav-link{
        padding: 0;
        padding-right: .5rem;
      }
    }

    P {
      font-size: 0.75rem;
      max-width: 100%;
      margin-bottom: 2.5rem;
    }
  }
}

@media (max-width: 320px) {
  .navbar .navbar-collapse{
    width: 70%;
  }

  header{
    height: 90vh;

    .content{
      padding-top: 100%;
    }
  }
}
