$dark_bg_section: #000;

@font-face {
  font-family:"museo-sans";
  src:url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;
  }


  @font-face {
    font-family:"museo-sans-700";
    src:url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
    
    @font-face {
    font-family:"museo-sans-900";
    src:url("https://use.typekit.net/af/9cf49e/00000000000000000000e807/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/9cf49e/00000000000000000000e807/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/9cf49e/00000000000000000000e807/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:900;
    }

html {
  scroll-behavior: smooth;
}

body {
  font-family: "museo-sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "museo-sans-900", sans-serif;
}

.active {
  a {
    color: #000;
    text-decoration: underline;
  }
}

.sticky-top {
  top: -1px !important;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
  color: #404040;
}

.btn {
  outline: 0 !important;

  &:focus {
    outline: 0;
    color: #fff;
    box-shadow: initial;
  }
}

img {
  max-width: 100%;
}

#sent {
  display: none;
}

// Modal
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-model-wrap {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
.model-open .custom-model-inner {
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -3rem;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .custom-model-main:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0px;
    height: 100%;
  }
}
@media screen and (max-width: 799px) {
  .custom-model-inner {
    margin-top: 45px;
  }
}

/*
Hamburger menu
*/

#nav-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  width: 24px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-toggler span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 4rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-toggler span:nth-child(1) {
  top: 0px;
  width: 100%;
  right: 0;
  left: auto;
}

#nav-toggler span:nth-child(2) {
  top: 7px;
  width: 70%;
  left: auto;
  right: 0;
}

#nav-toggler span:nth-child(3) {
  top: 14px;
  width: 50%;
  left: auto;
  right: 0;
}

#nav-toggler.open span:nth-child(1) {
  width: 100%;
  top: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-toggler.open span:nth-child(2) {
  opacity: 0;
  right: -60px;
  display: none;
}

#nav-toggler.open span:nth-child(3) {
  width: 100%;
  top: 5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  max-width: 200px;
  height: 54px;
  border-radius: 0px 24px 24px 24px;
  background: #000;
  color: #fff;
  padding: 0.5rem 2rem;
  outline: none;
  box-shadow: none;

  &:hover{
    background: #9990E8;
    color: #fff;
  }

  &:active{
    background: #673AB7;
    color: #fff;
  }
}

.title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: capitalize;

  span{
    font-family: "museo-sans-900", sans-serif;
    font-weight: 900;
    color: #9990E8;
  }
}

.title-section {
  font-family: "museo-sans-900", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #000;
  margin: 0;
  margin-bottom: .2rem;
  text-transform: capitalize;
}

.title-service{
  font-size: 3rem;
  font-weight: 900;
}

.title-box{
  font-size: 2rem;
  font-weight: 900;
}

.form-title {
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
  color: #fff;
}

#answer_login_form {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background: #fff;
  height: 104px;
  padding: 0 12rem;
  transition: 0.3s;
  transition-timing-function: ease-in-out;

  .navigation {
    width: 14%;
  }

  .collapse {
    width: 88%;
  }

  .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin-left: auto;
  }

  .nav-link {
    font-family: "museo-sans-700", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:hover {
      color: #1e88e5;
    }
  }

  .btn {
    color: #fff !important;
    padding: 0.5rem 2rem !important;
    text-decoration: none !important;
    
    &:hover{
      text-decoration: none !important;
    }
  }
}

.nav-bg {
  background: #fff;
}

section{
    text-align: center;
    margin-bottom: 10rem;
}

.wrapper {
    margin: 0 auto;
    padding-left: 14rem;
}

.bg-light-green{
  background: #E0F2F1;
}

.quote-boxes{
  .box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 10px 10px 20px rgba(97, 97, 97, 0.1);
    background: #fff;
    max-width: 560px;
    min-height: 260px;
    padding: 1rem 1.5rem 1rem 3.5rem;
    border-radius: 24px;
    z-index: 1;

    .quote{ 
      position: relative;
      font-family: "museo-sans-900", sans-serif;
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 700;

      &:before{
        position: absolute;
        content: '';
        left: -2rem;
        top: -1rem;
        width: 5px;
        height: 130%;
        border-radius: 6px;
      }
    }

    .position{
      display: block;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &:nth-of-type(1){
      margin-bottom: 3rem;

      .quote{
        &:before{
          background: #E1BEE7;
        }
      }
    }

    &:nth-of-type(2){
      margin-left: auto;

      .quote{
        &:before{
          background: #B2DFDB;
        }
      }
    }
  }
}

header {
  position: relative;
  height: 75vh;
  overflow: hidden;
  margin-bottom: 10rem;

    .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 100%;

        .header-wrap{
          max-width: 600px;
        }

        .quote-boxes{
          .box{
            &:nth-of-type(1){
              margin-bottom: 3rem;
            }

            &:nth-of-type(2){
              margin-left: auto;

              .quote{
                &:before{
                  background: #B2DFDB;
                }
              }
            }
          }
        }

        img{
          position: absolute;
          top: 0;
          right: 0;
          width: auto;
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }
    }
}

main {
  #services{
    margin-bottom: 8rem;

    .title-section{
      margin-bottom: 3rem;
    }

    .row-service{
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      align-items: center;
      margin-bottom: 4rem;

      .content{
        max-width: 500px;
        text-align: left;
      }

      figure{
        position: relative;
        margin: 0;
        text-align: left;

        .quote-boxes{
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .box{    
            max-width: 350px;
            min-height: 180px;

            &:nth-of-type(1){
              margin-left: 3.5rem;
            }

            &:nth-of-type(2){
              margin: initial;
              margin-left: -6rem;
            }

            .quote{
              font-size: 1.5rem;

              &:before{
                top: 0;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .service-seo{
      margin-bottom: 10rem;

      figure{
        img{
          width: 100vw;
        }
      }
    }

    .service-social-media{
      img{
        margin-top: -8rem;
      }
    }

    .service-content{
      figure{
        img{
          width: 100vw;
        }

        .quote-boxes{
          .box{
            &:nth-of-type(1){
              margin-left: auto !important;
            }

            &:nth-of-type(2){
              margin-left: -10rem !important;
            }
          }
        }
      }
    }
  }

  #mission{
    margin: 0;

    .wrapper{
      padding: 0 10rem;

      .row-boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        align-items: center;
        margin-top: 2.5rem;
        margin-bottom: -10rem;

        .box{
          background: #fff;
          box-shadow: 10px 10px 20px rgba(97, 97, 97, 0.1);          border-radius: 16px;
          max-width: 460px;
          max-height: 430px;
          padding: 2.5rem 1.75rem;

          .title-box{
            margin: .75rem 0;
          }
        }

        .box-column-left{
          .box{
            text-align: right;
            margin-left: auto;
          }
        }

        .mobile-box{
          display: none;
        }

        .box-column-right{
          .box{
            text-align: left;

            &:first-of-type{
              margin-bottom: 7rem;
            }
          }
        }
      }
    }
  }

  #company{
    text-align: left;
    margin-bottom: 0;

    .title-section{
      margin-bottom: 1.5rem;
    }

    p{
      margin-bottom: 1.5rem;
    }

    .wrapper{
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-gap: 8rem;
      align-items: center;
      padding: 20rem 12rem 10rem 0;

      figure{
        img{
          width: 100vw;
        }
      }
    }
  }

  #contact_us {
      display: grid;
      grid-template-columns: .85fr 1fr 1fr;
      height: 100vh;
      margin: 0;
      position: relative;
      text-align: center;
      color: #000;

      figure{
        margin: 0;
        position: relative;
      }

      .top-right,
      .bottom-left{
        position: absolute;
        width: auto;
        height: auto;
        object-fit: cover;
      }

      .top-right{
        top: 0;
        right: 0;
      }

      .bottom-left{
        left: 0;
        bottom: 0;
      }

    .contact-form {
      margin: initial;
      margin-top: 1.5rem;
      max-width: 610px;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .row-wrap {
     padding-top: 8rem;
     text-align: left;

      input,
      textarea {
        background: #fff;
        font-weight: 500;
        border: 1px solid #EAEAEA;;
        border-radius: 0px 4px 4px 20px;
        color: #979797;
        box-shadow: none;
        outline: none;

        &::placeholder {
          font-size: 1.125rem;
          font-weight: 400;
          color: #404040;
          text-transform: capitalize;
        }
      }

      input {
        height: 56px;
        margin-top: 0;
      }

      textarea {
        margin: 0;
        height: 168px;
        resize: none;
      }

      .btn {
        max-width: 150px;
        margin: initial;
      }
    }
  }
}

footer {
  padding: 3.5rem 0 3.5rem;
  height: auto;
  background: $dark_bg_section;

  .wrapper{
    padding: 0;
  }

  p {
    font-family: "museo-sans-700", sans-serif;
    margin: 0 auto;
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    color: #fff;
  }
}

@media (max-width: 1700px) {
  .navbar .navbar-nav {
    width: 63%;
  }

  .title{
      font-size: 4.5rem;
  }

  .navbar{
    padding: 0 8rem;
  }

  header{
      height: 100vh;
      margin-bottom: 0;

      .wrapper{
        img{
          width: 80vw;
          height: auto;
        }
      }
  }

  .wrapper{
    padding-left: 8rem;
  }

  main{
    #company{
      .wrapper{
        grid-template-columns: 1.3fr 1fr;
        padding: 15rem 8rem 6rem 0;
        grid-gap: 3rem;

        figure{
          img{
            width: 47vw;
          }
        }
      }
    }
  }

  footer{
      padding: 1.875rem 0;
  }
}

@media (max-width: 1600px) {
  .navbar{
    padding: 0 6rem;
  }

  header{
    margin-bottom: 4rem;

    .wrapper{
      align-items: initial;

      img{
        width: 90vw;
      }

      .header-wrap{
        margin-top: 4rem;
      }

      .quote-boxes{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        .box{
          width: 100%;

          &:nth-of-type(2){
           margin-left: -35%
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .title-section {
    font-size: 3.5rem;
  }

  .navbar {
    padding: 0 4rem;

    .navigation {
      width: 20%;
    }

    .navbar-nav {
      width: 70%;
    }
  }

  main{
    #services .service-seo {
      margin-bottom: 14rem;
    }
  }
}

@media (max-width: 1400px) {
  .navbar {
    .navigation {
      width: 20%;
    }

    .navbar-nav {
      width: 70%;
    }
  }

  header{
    .wrapper{
      grid-gap: 3rem;
    }
  }
}

@media (max-width: 1300px) {
  .wrapper{
    padding-left: 4rem;
  }

  header{
    margin-bottom: 0;
  }
  
  main{
    #company{
      .wrapper{
        grid-template-columns: 1.1fr 1fr;
        padding: 13rem 4.5rem 6rem 0;
      }
    }
  }
}

@media (max-width: 1250px) {
    .wrapper{
      padding-left: 4.5rem;
    }

    .navbar{
        padding: 0 2rem;
    }

    .title{
        font-size: 3.75rem;
    }

    .title-section{
      font-size: 2.5rem;
    }

    header{
      height: 85vh;
    }

    main{
      #services .row-service{
        grid-gap: 3rem;
      }
  
      #services .row-service figure .quote-boxes .box:nth-of-type(2){
        margin-left: -2rem;
      }

      #services .service-content figure .quote-boxes .box:nth-of-type(2){
        margin-left: -2rem !important;
      }
    }
}

@media (max-width: 1024px) {
  .title-box{
    font-size: 1.5rem;
  }

  .navbar {
    height: 70px;
    padding: 0 3rem;

    .mobile-search-icon {
      display: block;
      margin: 0 auto;
    }

    .btn{
      min-width: 240px;
      font-size: 1.5rem !important;
    }

    .collapse {
      width: auto;
      background: #fff;
    }

    .nav-link {
      font-size: 2.25rem;
      font-weight: 700;
      text-align: left;
    }

    .navigation {
      width: auto;

      .navbar-brand {
        img {
          max-width: 80%;
        }
      }
    }

    .navbar-collapse {
      position: absolute;
      width: 100%;
      top: 69px;
      height: 100vh;
      left: 0;
      padding-bottom: 1rem;
    }

    .navbar-nav {
      position: relative;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  .nav-bg, .bg-toggler{
    background: #E2F1FD;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  #nav-toggler {
    display: block;
    right: 3rem;
  }

  .title{
    font-size: 5rem;
  }

  .title-section{
    font-size: 3rem;
  }

  .title-service{
    font-size: 2rem;
  }
  
  header {
    height: 95vh;
    margin-bottom: 5rem;

    .wrapper{
      grid-template-columns: auto;
      grid-gap: 1rem;
      padding: 0;

      img{
        position: initial;
        width: 100vw;
        order: 1;
        padding-left: 3rem;
      }

      .header-wrap{
        order: 2;
        text-align: center;
        max-width: 100%;
        padding: 0 3rem;
        margin-top: 0;

        .btn{
          margin: 0 auto;
        }
      }

      .quote-boxes{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        height: auto;

        .box{    
          min-height: 230px;

          .quote{
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .wrapper{
    padding-left: 2.5rem;
  }

  main{
    #company{
      .wrapper{
        padding: 13rem 4.5rem 3rem 0;
      }
    }

    #services .row-service figure .quote-boxes .box{
      max-width: 300px;
      min-height: 130px;

      .quote{
        font-size: 1rem;
      }
    } 

    #services .service-social-media{
      padding-right: 2rem;
    }

    #contact_us{
      height: 70vh;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }

  .collapse {
    display: flex;
  }

  #nav-toggler {
    right: 2rem;
  }

  .subtitle{
    letter-spacing: 0.08em;
  }

  .title{
    font-size: 3.5rem;
  }

  .title-box{
    font-size: 2rem;
  }

  footer {
    padding: 2rem 0 2rem;
  }

  main{
    #services{
      .row-service{
        grid-template-columns: auto;

        figure .quote-boxes .box:nth-of-type(1) {
          margin-left: auto;
        }
      }

      .service-social-media{
        padding-bottom: 2rem;

        img{
          max-width: 56%;
        }
      }

      .service-seo,
      .service-content{
        img{
          order: 1;
        }

        .content{
          order: 2;
        }
      }
    }

    #mission .wrapper{
      padding: 0 4rem;

      .row-boxes{
        grid-template-columns: auto;

        .box-column-left{
          display: none;
        }

        .mobile-box{
          display: block;
        }
  
        .box-column-right .box{
          margin-bottom: 3rem;
          
          &:first-of-type {
            margin-bottom: 3rem;
          }

          &:nth-of-type(2){
            margin-left: auto;
            text-align: right;
          }
        }
      }
    }

    #company{
      .wrapper{
        grid-template-columns: auto;
        padding: 12rem 0 5rem;

        figure{
          img{
            width: 85vw;
          }
        }

        .content{
          padding: 0 2rem;
        }
      }
    }

    #contact_us{
      height: 100vh;
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .img1{
        display: none;
      }

      .img2{
        order: 1;

        .top-right{
          width: 58vw;
        }
      }

      .row-wrap{
        order: 2;
        padding: 0 2rem;
      }
    }
  }
}

@media (max-width: 576px) {
  p {
    font-size: .875rem !important;
  }

  .mobile-search-icon {
    max-width: 80%;
  }

  #nav-toggler {
    display: block;
  }

  .navbar .navigation .navbar-brand img {
    max-width: 60%;
  }

  .navbar {
    height: 70px;
    padding: 0 1.125rem;

    .navbar-nav {
      position: relative;
      justify-content: center;
      height: 100%;
      align-items: center;
      margin-bottom: 4rem;
    }

    .nav-link {
      font-size: 1.75rem;
    }

    .collapse {
      width: 100%;
    }
  }

  #nav-toggler {
    right: 1.125rem;
  }

  .btn{
    font-size: 1.125rem;
    max-width: 200px;
    padding: 0;
  }

  .title-section{
    font-size: 2rem;
    margin: 0 auto;
  }
  
  .title-box{
    font-size: 1.5rem;
  }

  .title-service{
    font-size: 1.5rem;
  }

  .quote-boxes{
    display: none !important;
  }

  .wrapper{
    padding: 0;
  }

  header{
    height: 92vh;
    margin-bottom: 0;

    .title{
      font-size: 2.5rem;
    }

    .wrapper{
      grid-gap: 0;
      height: auto;

      img{
        padding-left: 1rem;
      }

      .header-wrap{
        margin-top: 3rem;
        padding: 0 1.75rem;
      }
    }
  }

  main{
    #services{
      margin-bottom: 6rem;

      .title-section{
        margin-bottom: 1.5rem;
        max-width: 70%;
      }

      .row-service{
        grid-gap: 1rem;
        margin-bottom: 2rem;

        figure{
          padding-left: 1.25rem;
        }

        .content{
          padding: 0 1.25rem;
        }
      }

      .service-seo{
        margin-bottom: 10rem;
      }

      .service-seo,
      .service-social-media{
        .btn{
          display: none !important;
        }
      }
    }

    #mission{
      .wrapper{
        padding: 0;

        .row-boxes{
          .box-column-right{
            .box{
              max-width: 325px;
              max-height: 245px;
              margin-bottom: 1rem;
              padding: 1.5rem 1rem; 

              &:first-of-type{
                margin-bottom: 1rem;
              }

              &:nth-of-type(2){
                text-align: left;
              }

              img{
                max-width: 20%;
              }
            }
          }
        }
      }
    }

    #company{
      .wrapper{
        grid-gap: 1rem;

        .content{
          padding: 0 1.25rem;
        }
      }
    }

    #contact_us .row-wrap{
      padding: 0 1.25rem;

      .btn{
        max-width: 105px;
        width: 100%;
      }
    }
  }

  footer {
    padding: 1rem 0;

    P {
      font-size: 0.75rem;
      max-width: 100%;
    }
  }
}

@media (max-width: 320px) {
  .navbar .nav-link {
    font-size: 1.35rem;
  }

  .btn {
    padding: 0.2rem 1rem;
    height: 45px;
  }

  .title-section{
    font-size: 1.75rem;
  }

  .title-box, .title-service{
    font-size: 1.25rem;
  }

  header{
    .wrapper{
      .header-wrap{
        margin-top: 1.5rem;

        .title{
          font-size: 2rem;
        }
      }

      img{
        width: 92vw;
        margin-left: auto;
      }
    }
  }

  main{
     #services{
       margin-bottom: 3rem;
       
      .service-social-media{
        padding-bottom: 1rem;
      }
     }

     #mission{
      .wrapper .row-boxes .box-column-right{
        .box{
          max-width: 90%;
          max-height: 220px;
        }
      } 
     }

     #contact_us{
       height: 132vh;

       .row-wrap{
         input{
           height: 40px;
         }

         input,
         textarea {
           font-size: .875rem;
   
           &::placeholder {
             font-size: .875rem;
           }
         }
       }
     }
  }
}
