@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #030B1B;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: transparent;
}

.bckgr-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

figure{
  margin: 0;
}

.active {
  a {
    color: #fff !important;

    &:after{
      left: 0 !important;
      width: 40% !important;
    }
  }
}

.sticky-top {
  position: fixed;
  top: -1px !important;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: #8E93A1;
}

.btn {
  outline: 0 !important;

  &:focus {
    outline: 0;
    color: #fff;
    box-shadow: initial;
  }
}

img {
  max-width: 100%;
}

#sent {
  display: none;
}

// Modal
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-model-wrap {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
.model-open .custom-model-inner {
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -3rem;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .custom-model-main:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0px;
    height: 100%;
  }
}
@media screen and (max-width: 799px) {
  .custom-model-inner {
    margin-top: 45px;
  }
}

.mobile-content {
  display: none;
}

/*
Hamburger menu
*/

#nav-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  width: 24px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 4rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-toggler span:nth-child(1) {
  top: 0px;
  width: 100%;
  right: 0;
  left: auto;
}

#nav-toggler span:nth-child(2) {
  top: 7px;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
}

#nav-toggler span:nth-child(3) {
  top: 14px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
}

#nav-toggler.open span:nth-child(1) {
  width: 100%;
  top: 5px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-toggler.open span:nth-child(2) {
  opacity: 0;
  left: 0;
  right: -60px;
  display: none;
}

#nav-toggler.open span:nth-child(3) {
  width: 100%;
  left: 0;
  top: 5px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.box-glass{
    position: relative;
    width: 400px;
    height: 200px;
    box-shadow: inset 0px 4px 64px rgb(255 255 255 / 15%);
    backdrop-filter: blur(40px);
    border-radius: 16px;

    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1px;
      border-radius: 16px;
      background: radial-gradient(98.54% 262.92% at 71.46% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%),radial-gradient(100% 266.82% at 0% 2.79%, #6B81DE 0%, rgba(107, 129, 222, 0) 100%),radial-gradient(98.54% 262.92% at 0% 0%, #030B1B 0%, rgba(3, 11, 27, 0) 100%);  
      box-shadow: inset 0px 4px 64px rgb(41 72 226 / 34%);
      mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: destination-out;
    }
}

.person{
  padding: 1.5rem 1rem;
  color: #fff;
  
  p{
    color: #fff;
  }

  .person-wrap{
    display: grid;
    grid-template-columns: .5fr 2fr;
    align-items: center;
    margin-bottom: 1rem;

    .name{
      font-weight: 500;
    }

    .town{
      font-weight: 300;
    }

    span{
      display: block;
      font-size: .875rem;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  background: linear-gradient(95.74deg, #687EDF 5.1%, #8A97CC 92.64%);
  align-items: center;
  color: #fff;
  border-radius: 100px;
  text-transform: capitalize;
  text-decoration: none;
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  max-width: 180px;
  min-width: 150px;
  width: 100%;
  height: 52px;
  padding: 0.5rem 1rem;
  outline: none;
  box-shadow: none;
  transition: all .2s ease-in-out;

  &:hover{
    background: #737ACE;
  }

  &:active{
    background: #62007F;
  }
}

.title {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: capitalize;  
  background: -webkit-linear-gradient(top,#737ACE 70%, #62007F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-section {
  font-size: 3rem;
  background: -webkit-linear-gradient(top,#737ACE 70%, #62007F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin: 0;
  margin-bottom: .875rem;
  text-transform: capitalize;
}

.subtitle {
  color: #8E93A1;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.title-box{
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5rem 0;
  color: #fff;
}

#answer_login_form {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  background: #030B1B;
  height: 98px;
  padding: 0 10rem;
  box-sizing: border-box;
  transition: 0.3s;
  z-index: 999;
  transition-timing-function: ease-in-out;

  .navigation {
    width: 14%;
  }

  .collapse {
    width: 88%;
  }

  .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: auto;
  }

  .nav-link {
    position: relative;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:after{
      position: absolute;
      content: '';
      left: 0;
      width: 0;
      bottom: 7px;
      height: 2px;
      background: #7760DB;
      z-index: 2;
      transition: all .2s ease-in-out;
    }

    &:hover {
      color: #fff;

      &:after{
        left: 0;
        width: 40%;
      }
    }
  }
}

section{
    text-align: center;
    margin-bottom: 10rem;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
  position: relative;
  height: 100vh;
  margin-bottom: 6rem;

  .hero-wrap{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 1rem;
    align-items: center;
    max-width: 1600px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 1.5rem;
    height: 100%;

    .wrap-hero-img{
      position: relative;
      padding-top: 80%;
      overflow: visible;
      z-index: 3;

      .box-glass{
        position: absolute;
        max-width: 400px;
        max-height: 260px;
        width: 100%;
        height: 100%;
        bottom: -6rem;
        left: -4rem;
        transition: .4s ease-in-out;
      }

      .animation{
        bottom: -8rem;
        left: -6rem;
      }

      .hero-img{
        position: absolute;
        top: -2%;
        left: 0;
        height: 70vh;
        object-fit: cover;
      }
    }
  }
}

main {
  #what_we_do{
    text-align: center;

    .boxes{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4rem;
      margin-top: 2.5rem;

      .box-glass{
        width: 100%;
        height: 100%;
        padding: 1.5rem 1.5rem;
        cursor: pointer;
        transition: .4s ease-in-out;  
        
        p{
          margin-bottom: 0;
        }

        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }

  #promise{
    .mobile-titles{
      display: none;
    }

    .desktop-titles{
      text-align: left;
      padding-left: 1.5rem;
    }

    .row-wrap{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .row-box{
        display: grid;
        grid-template-columns: .2fr 2fr;
        grid-gap: 2rem;
        align-items: center;
        text-align: left;
        max-width: 490px;
        max-height: 150px;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        box-sizing: content-box;
        cursor: pointer;
        transition: .3s ease-in-out;  

        &:last-of-type{
          margin-bottom: 0;
        }

        p{
          margin-bottom: 0;
        }
      }
    }
  }

  #about_us{
    margin-bottom: 8rem;

    .mobile-title{
      display: none;
    }

    .desktop-title{
      text-align: left !important;
    }

    p{
      color: #fff;
      text-align: left;
    }

    .row-about-us{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      background: linear-gradient(78.61deg, #04072A 0%, #04072A 100%);
      border-radius: 24px;
      padding: 3.5rem 10rem;

      p{
        max-width: 520px;
      }

      figure{
        position: relative;
        padding-top: 30%;
        
        .crown{
          position: absolute;
          top: 0;
          right: 2rem;
          transition: .4s ease-in-out;
        }

        .animation{
          top: 6rem;
          right: 6rem;
        }
      }
    }

    .map-wrap{
      position: relative;
      height: 90vh;
      margin-top: 4rem;

      .map{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        object-fit: contain;
      }

      .mobile-testimonials{
        display: none;
      }

      .box-glass{
        height: auto;
        padding: .75rem 1rem;

        .info{
          text-align: left;
        }

        p{
          font-size: .875rem;
        }

        .person-wrap{
          grid-gap: .5rem;
        }
      }

      .person-london{
        position: absolute;
        top: 4rem;
        left: calc(20% + 2rem);
      }

      .person-sydney{
        position: absolute;
        top: calc(50% - 3rem);
        right: calc(5% + 4rem);
      }

      .mobile-testimonials{
        .testimonial1{
          top: auto;
          bottom: 3rem;
          left: calc(20% + 2rem);
        }
      }

      .testimonial1 { display: none; }
      .testimonial1:first-child { display: block; }
      
      .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      
      @-webkit-keyframes fadeInDown {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
      
        100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      
      @keyframes fadeInDown {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
      
        100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      
      .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
      }
    }
  }

  #contact_us {
      text-align: center;
      color: #000;

    .title-section{
      text-align: left;
      margin-bottom: 1rem;
      max-width: 60%;
    }

    .mobile{
      display: none;
    }

    .contact-form {
      margin: initial;
      margin-top: 1.5rem;
      max-width: 610px;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .row-wrap {
     max-width: 1600px;
     display: grid;
     grid-template-columns: 1.5fr .8fr;
     grid-gap: 2rem;
     align-items: center;
     margin-top: 2rem;
     position: relative;
     text-align: center;
     background: linear-gradient(78.61deg, #04072A 0%, #04072A 100%);
     border-radius: 24px;
     padding: 0 2rem;
     padding-right: 10rem;

     .contact-form{
       justify-self: flex-end;
     }

     figure{
       position: relative;

       .bell{
         position: absolute;
         top: 50%;
         right: 5rem;
         object-fit: cover;
         transition: .4s ease-in-out;
       }

       .animation{
         transform: scale(1.3);
       }

       img{
         margin-top: -4rem;
       }
     }

      input,
      textarea {
        background: radial-gradient(98.05% 261.61% at 1.95% 3.59%, #1D2941 0%, rgba(16, 23, 57, 0) 100%);
        border: 2px solid;
        border-image-source: radial-gradient(98.54% 262.92% at 1.46% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(100% 266.82% at 0% 2.79%, #6B81DE 0%, rgba(107, 129, 222, 0) 100%),
        radial-gradient(98.54% 262.92% at 0% 0%, #030B1B 0%, rgba(3, 11, 27, 0) 100%);
        border-radius: 4px;
        height: 100%;
        width: 100%;
        font-size: .875rem;
        color: #677294;
        font-weight: 400;
        outline: none;
        box-shadow: none;
        z-index: 9999;

        &::placeholder {
          font-size: .875rem;
          font-weight: 400;
          color: #677294;
          text-transform: initial;
        }
      }

      input {
        height: 60px;
        margin-top: 0;
      }

      textarea {
        margin: 0;
        height: 168px;
        resize: none;
      }

      .btn {
        margin: initial;
      }
    }
  }
}

footer {
  position: relative;
  background: #000;
  color: #fff;
  padding: 3.5rem 0 3.5rem;
  padding-top: 4rem;
  height: auto;

  .wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      align-items: center;
  }

  .footer-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .nav-link{
          font-size: 1.125rem;
          font-weight: 400;
          color: #fff;
      }
  }
  
  .mobile{
    display: none;
  }

  p {
    font-weight: 500;
    font-size: 0.875rem;
    text-align: left;
    color: #fff;
    margin-top: 3rem;
  }
}

@media  screen and (max-width: 1800px), screen and(max-height: 860px) {
  header{
    .hero-wrap{
      padding-left: 7rem;

      .wrap-hero-img{
        padding-top: 65%;

        .box-glass{
          max-height: 240px;
        }

        .hero-img{
          top: 0rem;
          height: 70vh;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .navbar .navbar-nav {
    width: 65%;
  }
}

@media (max-width: 1440px) {
  .navbar{
    padding: 0 4rem;

    .navbar-nav{
      width: 60%;
    }
  }

  section{
    margin-bottom: 8rem;
  }

  .wrapper{
    padding: 0 4rem;
  }

  header .hero-wrap {
    padding-left: 4rem;

    .wrap-hero-img{
      .hero-img{
        height: 67vh;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  main{
    #promise{
      img{
        max-width: 85%;
      }
    }

    #about_us{
      .row-about-us{
        figure{
          .animation {
            top: 4rem;
            right: 4rem;
          }
        }
      }
    }
  }

  footer .wrapper{
    grid-template-columns: .75fr 1.5fr;
  }
}

@media (max-width: 1400px) {
  header .hero-wrap {
    padding-left: 4rem;

    .title{
      font-size: 3.5rem;
    }

    .wrap-hero-img{
      .hero-img{
        height: 60vh;
        top: -5rem;
      }

      .box-glass{
        left: 0;
      }
    }
  }
}

@media (max-width: 1250px) {
  .navbar{
    padding: 0 2rem;
  }

  .wrapper{
    padding: 0 2rem;
  }

  header{
    margin-bottom: 0;
  }

  main{
    #about_us .row-about-us{
      padding: 3rem 5rem;
    }

    #contact_us .row-wrap{
      padding-right: 6rem;
    }
  }
}

@media (max-width: 1024px) {
  .active{
    a:after{
      width: 20% !important;
    }
  }

  .navbar {
    background: #070F22;
    height: 70px;
    padding: 0 3rem;

    .collapse {
      width: auto;
      background: #070F22;
    }

    .nav-link {
      font-size: 2.25rem;
      font-weight: 600;
      text-align: left;
      color: #fff;
    }

    .navigation {
      width: auto;

      .navbar-brand {
        img {
          max-width: 80%;
        }
      }
    }

    .navbar-collapse {
      position: absolute;
      width: 60%;
      top: 69px;
      height: 100vh;
      right: 0;
      padding-bottom: 1rem;
      background: #070F22;
    }

    .navbar-nav {
      position: relative;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;

      .nav-item{
        width: 80%;
        text-align: left;
      }
    }
  }

  .nav-bg, .bg-toggler{
    background: #070F22;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  #nav-toggler {
    display: block;
    right: 3rem;
  }

  header{
    margin-bottom: 3rem;

    .hero-wrap {
      grid-template-columns: auto;
      grid-gap: 0;
      padding-left: 0;
      padding: 0 3rem;
  
      .title{
        font-size: 3.5rem;
      }
  
      .content{
        max-width: 80%;
        margin: 0 auto;
        padding-top: 6rem;
      }
  
      .wrap-hero-img{
        padding-top: 90%;
  
        .hero-img{
          height: 50vh;
          top: 0;
        }
  
        .box-glass{
          bottom: 2rem;
          left: 4rem;
        }

        .animation {
          bottom: -2rem;
          left: 2rem;
        }
      }
    }
  }

  main{
    #what_we_do .boxes{
      grid-template-columns: auto;

      .box-glass{
        max-width: 80%;
        margin: 0 auto;
      }
    }

    #promise{
      .mobile-titles{
        display: block;
      }
      
      .desktop-titles{
        display: none;
      }

      .row-wrap{
        grid-template-columns: auto;

        .row-box{
          margin: 0 auto;
        }
      }
    }

    #about_us{
      margin-bottom: 4rem;

      .mobile-title{
        display: block;
      }

      .desktop-title{
        display: none;
      }

      .row-about-us{
        grid-template-columns: auto;

        figure{
          order: 1;
          padding-top: 15%;

          .crown{
            top: 0;
            right: 6rem;
          }

          .animation {
            top: 1rem;
            right: 13rem;
          }
        }

        .content{
          order: 2;

          p{
            margin: 0 auto;
            text-align: center;
          }
        }
      }

      .map-wrap{
        height: 50vh;
        margin-top: 0;

        .map{
          top: -4rem;
        }

        .desktop-testimonials{
          display: none;
        }

        .mobile-testimonials{
          display: block;

          .dot-london{
            position: absolute;
            top: calc(10% + 5rem);
            left: calc(40% + 4rem);
          }

          .dot-sydney{
            position: absolute;
            bottom: calc(30% + 2rem);
            right: calc(5% + 4rem);
          }
        }
      }
    }

    #contact_us{
      .mobile{
        display: block;
        text-align: center;
        max-width: 100%;
        margin-bottom: 4rem;
      }
  
      .desktop{
        display: none;
      }
  
      .row-wrap{
        grid-template-columns: auto;
        grid-gap: 0;
        padding: 4rem 3rem;
  
        figure{
          order: 1;

          img{
            margin: 0;
            max-width: 70%;
          }

          .bell{
            left: 60%;
            transform: translateX(-50%);
            right: auto;
          }

          .animation{
            transform: translateX(-50%) scale(1.3);
          }
        }
  
        form{
          order: 2;
        }

        .contact-form {
          width: 100%;
          margin: 0 auto;
          margin-top: -3rem;
          z-index: 999;
        }
      }
    }
  }

  footer{
    .footer-nav{
      justify-content: space-between;
      margin: 1rem 0;

      .nav-link{
        padding-left: 0;
      }
    }

    .wrapper{
      grid-template-columns: auto;

      p{
        margin-top: 1.25rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 2rem;

    .nav-link{
      font-size: 1.5rem;
    }
  }

  .collapse {
    display: flex;
  }

  #nav-toggler {
    right: 2rem;
  }

  .title-section{
    font-size: 2.25rem;
  }

  section{
    margin-bottom: 6rem;
  }

  main{
    #about_us .row-about-us figure .crown {
      top: 0;
      right: 4rem;
      max-width: 30%;
    }

    #about_us{
      .map-wrap .mobile-testimonials{
        display: block;

        .dot-london{
          position: absolute;
          top: calc(10% + 3rem);
          left: calc(40% + 3rem);
        }

        .dot-sydney{
          position: absolute;
          bottom: calc(30% + 3rem);
          right: calc(5% + 2.5rem);
        }
      }
    }

    #contact_us{
      .mobile{
        display: block;
      }

      .desktop{
        display: none;
      }

      .row-wrap{
        grid-template-columns: auto;

        form{
          order: 2;
          width: 100%;
          margin: 0 auto;
          margin-top: 3rem;
        }
      }
    }
  }

  footer {
    padding: 2rem 0 2rem;

    .wrapper{
      grid-template-columns: auto;
      text-align: left;

      p{
        text-align: left;
        margin-top: .5rem;
      }
    }

    .desktop{
      display: none;
    }

    .mobile{
      display: flex;
      justify-content: flex-start;
      margin: .5rem 0;
      
      .nav-link:first-of-type{
        padding-left: 0;
      }
    }

    .footer-nav{
      .nav-link{
        font-size: .875rem;
      }
    }
  }
}

@media (max-width: 576px) {
  #nav-toggler {
    display: block;
  }

  .navbar .navigation .navbar-brand img {
    max-width: 60%;
  }

  .navbar {
    height: 70px;
    padding: 0 1.125rem;
    z-index: 99999;

    .nav-link{
      font-size: 1.25rem;
    }

    .navbar-nav {
      position: relative;
      justify-content: center;
      height: 100%;
      align-items: flex-start;
      margin-left: 1.5rem;
      margin-bottom: 4rem;

      &::after{
        max-width: 80%;
      }
    }
  }

  #nav-toggler {
    right: 1.125rem;
  }

  .btn{
    font-size: .75rem;
    padding: 0;
  }

  .wrapper{
    padding: 0 1.125rem;
  }
  
  section{
    margin-bottom: 4rem;
  }

  .title-section, .subtitle{
    text-align: center;
  }

  .title-section{
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  .subtitle{
    font-size: 1rem;
  }

  .title-box{
    font-size: 1.125rem;
  }

  p{
    font-size: .875rem !important;
    font-weight: 300 !important;
  }

  .box{
    img{
      max-width: 20% !important;
    }
  }

  header{
    margin-bottom: 0;

    .hero-wrap{
      padding: 0;

      .title{
        font-size: 2.25rem;
      }

      .content{
        padding: 0 1.125rem;
        padding-top: 5rem;
        max-width: 100%;
        z-index: 99;

        p{
          display: none;
        }
      }

      .wrap-hero-img{
        padding-top: 25%;

        .hero-img{
          height: 38vh;
          top: -13rem;
        }

        .box-glass{
          display: none;
        }
      }
    }
  }

  main{
    #what_we_do .boxes{
      grid-gap: 1rem;

      .box-glass{
        max-width: 100%;
      }
    }

    #promise{
      margin-bottom: 2.5rem;

      .row-wrap{
        .row-box{
          max-width: 85%;
          max-height: 120px;
          padding: 1rem;
          grid-gap: .5rem;  
        }
      }
    }

    #about_us{
      .row-about-us {
        padding: 3rem 1.25rem;

        figure{
          .heart{
            max-width: 70%;
          }

          .crown {
            top: -.5rem;
            right: 1rem;
            max-width: 30%;
          }

          .animation{
            top: .5rem;
            right: 3rem;
          }
        }
      }

      .map-wrap {
        height: 55vh;

        .map{
          top: -7rem;
        }

        .mobile-testimonials{
          .dot-london {
            top: calc(10% + .5rem);
            left: calc(30% + 3.5rem);
          }

          .dot-sydney{
            bottom: calc(45% + 5rem);
            right: calc(5% + 1rem);
          }

          .testimonial1{
            width: 95%;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);

            p{
              font-size: .75rem !important;
            }
          }
        }
      }
    }

    #contact_us{
      .title-section{
        text-align: center;
        margin-bottom: 3rem;
      }

      .row-wrap{
        margin-top: 3rem;
        padding: 3rem 1.125rem;
        
        figure{
          text-align: center;

          img{
            max-width: 60%;
          }

          .bell {
            left: 60%;
            max-width: 26%;
          }
        }

        .contact-form{
          margin-top: -1.25rem;
        }
      }
    }
  }

  footer {
    padding: 1rem 0;

    img{
      margin: 0;
    }

    .wrapper{
      padding: 0 1.125rem;

      .content{ 
        img{
          max-width: 40%;
        }
      }
    }

    img{
       margin: 0;
    }

    .footer-nav{
      flex-wrap: wrap;
      max-width: 80%;

      .nav-link{
        padding: 0;
        padding-right: .5rem;
      }
    }

    P {
      font-size: 0.75rem;
      max-width: 100%;
      margin-bottom: 2.5rem;
    }
  }
}

@media (max-width: 320px) {
  .navbar .navbar-collapse{
    width: 70%;
  }

  header .hero-wrap .wrap-hero-img {
    padding-top: 55%;
  }

  header{
    .hero-wrap{
      .title{
        font-size: 2rem;
      }

      .wrap-hero-img{
        .hero-img{
          height: 44vh;
          top: -7rem;
        }
      }
    }
  }

  main{
    #promise{
      margin-bottom: 2.5rem;

      .row-wrap{
        .row-box{
          max-height: 130px;
        }
      }
    }

    #about_us{
      .map-wrap {
        height: 65vh;

        .map{
          top: -6rem;
        }

        .mobile-testimonials{
          .dot-london {
            top: calc(10% + .5rem);
            left: calc(30% + 3.5rem);
          }

          .dot-sydney{
            bottom: calc(45% + 5rem);
            right: calc(5% + 1rem);
          }

          .testimonial1{
            width: 95%;
            left: 50%;
            bottom: -1.5rem;
            transform: translateX(-50%);
            padding: .75rem;

            p{
              font-size: .75rem !important;
              margin-bottom: .4rem;
            }
          }
        }
      }
    }
  }
}
