<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storytell</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<img src="assets/img/waves.png" alt="" class="bckgr-page">

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="navigation">
            <a class="navbar-brand" href="#hero"><img src="assets/img/logo.png" alt="Storytell" class="logo"></a>

            <div id="nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#hero">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#what_we_do">What we do </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#promise">Our promise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about_us">Who we are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact_us">Get in touch</a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="hero">
        <div class="hero-wrap">
            <div class="content">
                <h1 class="title">Faster, fresher, better marketing</h1>
                <p>We improve your online presence with comprehensive SEO, social media management and lead generation
                    strategies to drive you more targeted traffic and sales. No wonder over 10,000 brands across the
                    globe have already used our services</p>
                <a href="#what_we_do" class="btn">View services</a>
            </div>
            <figure class="wrap-hero-img">
                <img class="hero-img" src="assets/img/hero-img.png" alt="">
                <div class="box-glass person">
                    <div class="person-wrap">
                        <figure>
                            <img src="assets/img/person1.png" alt="">
                        </figure>

                        <div class="info">
                            <span class="name">Emma Taylor</span>
                            <span class="town">New York</span>
                        </div>
                    </div>
                    <p>“{{brand_name}} literally worked like magic in bringing down our costs while increasing our
                        market reach, boosting our ROI, helping us convert better, and reaching our business
                        objectives.”</p>
                </div>
            </figure>
        </div>
    </header>

    <main>
        <section id="what_we_do">
            <div class="wrapper">
                <h2 class="title-section">What we do</h2>
                <h3 class="subtitle">We’ll help you impact all metrics</h3>

                <div class="boxes">
                    <div class="box-glass">
                        <img src="assets/img/icons/what_we_do_icon1.svg" alt="">

                        <h4 class="title-box">Lead generation</h4>
                        <p>We partner with 3rd parties to run targeted campaigns that generate quality leads through
                            advanced technology that performs online profiling and trend analysis to drive qualified
                            leads to your brand and maximize your success.</p>
                    </div>
                    <div class="box-glass">
                        <img src="assets/img/icons/what_we_do_icon2.svg" alt="">

                        <h4 class="title-box">SEO & PPC </h4>
                        <p>Our elite SEO and PPC team can help you increase your bottom line with a custom-made campaign
                            tailored to your needs. Drive more qualified search traffic to your website today with our
                            industry-leading services.</p>
                    </div>
                    <div class="box-glass">
                        <img src="assets/img/icons/what_we_do_icon3.svg" alt="">

                        <h4 class="title-box">UX & UI</h4>
                        <p>We create innovative and effective websites that capture your brand and improve your
                            conversion rates while maximizing your sales and revenue to help you grow your business and
                            achieve your goals.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="promise">
            <div class="wrapper">
                <div class="mobile-titles">
                    <h2 class="title-section">Our promise</h2>
                    <h3 class="subtitle">We’ll take your brand to the next level</h3>
                </div>

                <div class="row-wrap">
                    <figure>
                        <img src="assets/img/promise_img.png" alt="">
                    </figure>

                    <div class="content">
                        <div class="desktop-titles">
                            <h2 class="title-section">Our promise</h2>
                            <h3 class="subtitle">We’ll take your brand to the next level</h3>
                        </div>

                        <div class="row-box box-glass">
                            <figure>
                                <img src="assets/img/icons/thick-icon.svg" alt="">
                            </figure>
                            <div class="box-content">
                                <h4 class="title-box">More leads</h4>
                                <p>Our lead generation affiliate network can — and will — drive more relevant traffic to
                                    your website and social media.</p>
                            </div>
                        </div>
                        <div class="row-box">
                            <figure>
                                <img src="assets/img/icons/thick-icon.svg" alt="">
                            </figure>
                            <div class="box-content">
                                <h4 class="title-box">More Sales</h4>
                                <p>We will help your brand grow and reach its full potential by reaching untapped
                                    opportunities and boosting sales. </p>
                            </div>
                        </div>
                        <div class="row-box">
                            <figure>
                                <img src="assets/img/icons/thick-icon.svg" alt="">
                            </figure>
                            <div class="box-content">
                                <h4 class="title-box">More Profits</h4>
                                <p>Minimize your costs, improve your return on investment, explode your reach, and boost
                                    your business profits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about_us">
            <div class="wrapper row-about-us">
                <h2 class="title-section mobile-title">Who we are</h2>
                <div class="content">
                    <h2 class="title-section desktop-title">Who we are</h2>
                    <p>{{brand_name}} is a passionate online marketing agency that delivers revenue-generating digital
                        marketing solutions. We craft custom strategies for each of our clients based on your exact
                        needs and goals. Our award-winning team of marketers, designers, and developers is obsessed with
                        results and performance. We know what it takes to get measurable results online and have
                        experienced the ultimate satisfaction of helping brands and businesses move forward through our
                        digital efforts. <br> <br>

                        {{brand_name}} is more than just a digital marketing agency. We build solid relationships with
                        our clients. We believe in transparency, honesty, and collaboration. We are a full-service
                        agency specializing in SEO, PPC, Social Media, Web Design and Development as well as Affiliate
                        Marketing to help businesses — just like yours — attract quality visitors, convert leads and
                        increase sales and revenues while minimizing costs.<br> <br>

                        Digital marketing is our passion. And we’re passionate about helping brands and businesses reach
                        their goals. So, when you choose {{brand_name}} as your digital marketing agency, you won’t get
                        a ready-made plan. You'll get a tailor-made strategy that aligns perfectly with your company’s
                        needs and goals.</p>
                </div>

                <figure>
                    <img class="heart" src="assets/img/heart.png" alt="">
                    <img class="crown" src="assets/img/crown.png" alt="">
                </figure>
            </div>

            <div class="wrapper map-wrap">
                <img src="assets/img/map.svg" alt="" class="map">

                <div class="desktop-testimonials">
                    <div class="testimonial person-london box-glass person" data-aos="fade-down" data-aos-delay="400" data-aos-easing="ease-in-out">
                        <div class="person-wrap">
                            <figure>
                                <img src="assets/img/person1.png" alt="">
                            </figure>
    
                            <div class="info">
                                <span class="name">Harry Miller</span>
                                <span class="town">London</span>
                            </div>
                        </div>
                        <p>“{{brand_name}} plans ahead your company's goals and sets realistic timelines to accomplish those goals. Their expert team members have the knowledge, skills, and experience to take your brand to the next level.”</p>
                    </div>
                    <div class="testimonial person-sydney box-glass person" data-aos="fade-left" data-aos-delay="800" data-aos-easing="ease-in-out">
                        <div class="person-wrap">
                            <figure>
                                <img src="assets/img/person1.png" alt="">
                            </figure>
    
                            <div class="info">
                                <span class="name">Amelia Johnson</span>
                                <span class="town">Sydney</span>
                            </div>
                        </div>
                        <p>“Working with the {{brand_name}} team on designing and developing our brand-new website has been nothing but perfect. They are so helpful and always go the extra mile to ensure the very best results for our brand.”</p>
                    </div>
                </div>
                <div class="mobile-testimonials">
                    <img src="assets/img/icons/dot.svg" alt="" class="map-dot dot-london">
                    <img src="assets/img/icons/dot.svg" alt="" class="map-dot dot-sydney">
                    <div class="testimonial1 person-london box-glass person">
                        <div class="person-wrap">
                            <figure>
                                <img src="assets/img/person1.png" alt="">
                            </figure>
    
                            <div class="info">
                                <span class="name">Harry Miller</span>
                                <span class="town">London</span>
                            </div>
                        </div>
                        <p>“{{brand_name}} plans ahead your company's goals and sets realistic timelines to accomplish those goals. Their expert team members have the knowledge, skills, and experience to take your brand to the next level.”</p>
                    </div>
                    <div class="testimonial1 person-sydney box-glass person">
                        <div class="person-wrap">
                            <figure>
                                <img src="assets/img/person1.png" alt="">
                            </figure>
    
                            <div class="info">
                                <span class="name">Amelia Johnson</span>
                                <span class="town">Sydney</span>
                            </div>
                        </div>
                        <p>“Working with the {{brand_name}} team on designing and developing our brand-new website has been nothing but perfect. They are so helpful and always go the extra mile to ensure the very best results for our brand.”</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact_us">
            <div class="row-wrap wrapper">
                <h2 class="mobile title-section">Let’s do great <br> work together</h2>
                <form name="contactForm form" method="post" class="contact-form">
                    <h2 class="desktop title-section">Let’s do great work together</h2>
                    <div id="sent" class="custom-model-main model-open">
                        <div class="custom-model-inner">
                            <div class="close-btn">×</div>
                            <div class="custom-model-wrap">
                                <div class="pop-up-content-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="bg-overlay"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" pattern="[^ @]*@[^ @]*" id="mail" name="еmail" required
                            placeholder="Email">
                        <span id="resultEmail"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="subject" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Message"></textarea>
                    </div>
                    <button class="btn" type="submit" name="submit" value="send" id="submit_btn">Get a proposal</button>
                </form>
                <figure>
                    <img src="assets/img/icons/bell.svg" alt="" class="bell">
                    <img src="assets/img/phone.png" alt="">
                </figure>
            </div>
        </section>
    </main>

    <footer>
        <div class="wrapper">
            <div class="content">
                <img src="assets/img/logo.png" alt="">
                <div class="footer-nav mobile">
                    <a class="nav-link" href="#hero">Home</a>
                    <a class="nav-link" href="#what_we_do">What we do </a>
                    <a class="nav-link" href="#promise">Our promise</a>
                    <a class="nav-link" href="#about_us">Who we are</a>
                    <a class="nav-link" href="#contact_us">Get in touch</a>
                    </ul>
                </div>
            </div>

            <div class="footer-nav desktop">
                <a class="nav-link" href="#hero">Home</a>
                <a class="nav-link" href="#what_we_do">What we do </a>
                <a class="nav-link" href="#promise">Our promise</a>
                <a class="nav-link" href="#about_us">Who we are</a>
                <a class="nav-link" href="#contact_us">Get in touch</a>
                </ul>
            </div>

            <p>Copyright ©Storytell <span id="current-year"></span>. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"
        integrity="sha512-3fMsI1vtU2e/tVxZORSEeuMhXnT9By80xlmXlsOku7hNwZSHJjwcOBpmy+uu+fyWwGCLkMvdVbHkeoXdAzBv+w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script>        // AJAX mail handle
        const NAME_INPUT = document.querySelector('#name')
        const MAIL_INPUT = document.querySelector('#mail')
        const SUBJECT_INPUT = document.querySelector('#subject')
        const MESSAGE_INPUT = document.querySelector('#message')
        const BTN_SUBMIT = document.querySelector('#submit_btn')

        BTN_SUBMIT.addEventListener('click', event => {
            event.preventDefault()
            let nameInputValue = NAME_INPUT.value;
            let mailInputValue = MAIL_INPUT.value;
            let subjectInputValue = SUBJECT_INPUT.value;
            let messageInputValue = MESSAGE_INPUT.value;

            let $resultEmail = $("#resultEmail");
            let $mail = $("#mail");
            let $resultMessage = $("#message");
            let $sentMail = $("#sent");
            let $sentMailText = $("#sent .pop-up-content-wrap");
            function validateEmail(mailInputValue) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(mailInputValue);
            }
            if (validateEmail(mailInputValue) && messageInputValue !== '') {

                $.ajax({
                    type: 'POST',
                    url: 'send_mail.php',
                    data: {
                        name: nameInputValue,
                        email: mailInputValue,
                        subject: subjectInputValue,
                        message: messageInputValue,
                    },
                    success() {
                        NAME_INPUT.value = ''
                        MAIL_INPUT.value = ''
                        SUBJECT_INPUT.value = ''
                        MESSAGE_INPUT.value = ''
                    },
                    error(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                    },
                    complete() {
                        console.log('Mail sent.');
                        $resultEmail.text(" *Email is required").css("display", "none");
                        $resultEmail.css("color", "red");
                        $mail.css({ "border-bottom": "2px solid #1A1AFF" });
                        $resultMessage.css({ "border-bottom": "2px solid #1A1AFF" });
                        $sentMail.css({ "display": "block" });
                        $sentMailText.html("Dear" + " " + "<b>" + NAME_INPUT.value + "</b>" + ", your mail was successfully submitted, our team will contact you shortly.");
                    },
                });
            }
            else {
                $resultEmail.text(" *Email is required");
                $resultEmail.css("color", "red");
                $resultMessage.css({ "border-bottom": "2px solid red" });
            }
        });
    </script>
</body>

</html>